<head>
    <title>ACCOUNTING / ACCOUNTABILITY</title>
    <style>
    	.index-wrapper {
    		display: none;
    	}
    	.index-text-left {
    		display: none;
    	}
	</style>
</head>

{% extends "base.html" %}
{% block content %}

<div class="accounting">

	<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTxwTiGNfPp2yNY4ana79NDK0xFifOQSpeZs_tB97Ct8MbNA90IY-s6W5WuBLIwnWzKLd817l0A5ZCl/pubhtml?widget=true&amp;headers=false" style="width:800px;border:none"></iframe>
</div>


{% endblock %}