/* aesthetic.css: styles which don't dramatically change the site's layout */

body {
  background-color: rgba(245,245,245,0.5);
  font-size: 16px;
  font-family: arial;
  color: black;
  margin-left: 20px;
}
body p {
  font-size: 12px;
}
body a {
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}

main p { margin-bottom: 1em; }

sup {
  line-height: 12px;
  font-size: 8px
}

.accounting {
  width: 100vw;
  height: 100vh;
}

.accounting iframe {
  width: 600px;
  height: 600px;
}

.documnt2 {
  line-height: 12px;
}

.about-text-1 {
  top: 0;
  left: 0;
  padding-left: 10px;
  padding-top: 10px;
  position: fixed;
  width: 214px;
}

.issue-image {
  position: fixed;
  left: 0;
  top: 0;
}

.page_wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

.navigation-2 {
  list-style-type: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
  z-index: 1000000;
}
.navigation-2 li {
  display: inline;
  padding: 10px;
}
.navigation-2 a {
  text-decoration: none;
}
.navigation-2 a:hover { text-decoration: underline; }


.text_content {
  position: fixed;
  width: 614px;
  left: 0px;
  top: 0px;
  font-size: 10px;
}
.contact_column {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  height: 100px;
  font-size: 14px;
}
.contact_column a {
  text-decoration: none;
}
.contact_column a:hover {
  text-decoration: underline;
}
.contact_column p {
  font-size: 14px;
}

.homepage_image {
  position: fixed;
  float: left;
  left: 0px;
  top: 0px;
}

.D2_opencall_text {
  position: relative;
  width: 320px;
  left: 420px;
  top: 10px;
  font-size: 12px;
  overflow: auto;
}
/* -- */
.issue-text {
  position: relative;
  font-size: 10px;
  overflow: auto;
  width: 66%;
}

.issue-text a{
  text-decoration: none;
}
.issue-text a:hover{
  text-decoration: underline;
}

.essay-text {
  overflow: none;
  font-size: 14px;
  margin-bottom: 60px;
  line-height: 26px;
  width: 430px;
  /*width: 477px;*/
}
.essay-text p {
  font-size: 12px;
}
.essay-text p.image-caption {
  line-height: 10px;
  font-size: 8px;
  margin-bottom: 20px;
}
.essay-text p.essay-quote {
  line-height: 14px;
  font-size: 12px;
}
.essay-text h1 {
  font-size: 16px;
  line-height: 20px;
}
.essay-text img {
  /*width: 477px;*/
  width: 430px;
}
.essay-text li {
  font-size: 12px;
  padding-left: 24px;
}

.essay-text .bibliography {
  width: 430px;
  line-height: 14px;
}

.essay-text p.endnote {
  /*width: 477px;*/
  width: 430px;
  line-height: 14px;
}
.essay-quote {
  margin-left: 48px;
  /*width: 429px;*/
  width: 382px;
}

.citation p {
  font-size: 12px;
  line-height: 14px;
}

.poem-text {
  width: 580px;
  margin-bottom: 60px;
  margin-top: 4px;
}
.poem-text p {
  line-height: 14px;
  font-size: 12px;
}
.subtext {
  font-size: 12px;
  line-height: 16px;
}
#tracklist {
  font-size: 10px;
}
.mixtape-content {
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  margin-bottom: 40px;
  padding-top: 8px;
  left: -8%;
  font-size: 14px;
}
.art-content {
  top: 0;
  bottom: 0;
  overflow-y: hidden;
  margin-bottom: 60px;
  padding-top: 5px;
  font-size: 12px;
  width: 100%;
}
.art-content img {
  margin-bottom: 20px;
  width: 477px;

}
.art-content img.mixtape-img {
  width: 200px;
  height: 200px;
}
.art-content p {
  line-height: 14px;
  width: 477px;
}
.art-content h1 {
  font-weight: normal;
  /*width: 380px;*/
  width: 477px;
}

.content-wrapper {
  font-size: 12px;
  line-height: 14px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100vh;
  margin: 10px 0 0 33%;
  padding-top: 22px;
  overflow-y: scroll;
  overflow: auto;
  float: left;
  margin-bottom: 40px;
  width: 100%;
}
.content-wrapper h1 { font-size: 14px; margin-top: 0px; font-weight: normal; }

.index-number {
  position: fixed;
  left: 25%;
  top: 36px;
  /*font-size: 8px;*/
  font-size: 12px;
}

.index-wrapper {
  width: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  height: auto;
  overflow: hidden;
  float: left;
}
.mixtape-index-wrapper {
  width: 40%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  height: auto;
  overflow: hidden;
}

.-mixtape-index-text-left {
  font-size: 12px;
  position: relative;
  margin-top: -2px;
  left: 2px;
  right: 0;
  overflow: auto;
  overflow-y: scroll;
  float: left;
}
.index-text-left {
  font-size: 12px;
  font-weight: 100;
  position: relative;
  /*margin-top: -4px;*/
  margin-top: 0px;
  left: 2px;
  right: 0;
  overflow: auto;
  overflow-y: scroll;
  float: left;
}
.index-text-left a{
  text-decoration: none;
}

.index-text-left a:hover{
  text-decoration: underline;
}

.issue-page {
  left: 33%;
  top: 20px;
  width: 66%;
  position: relative;
}
.issue-page img {
  left: 0;
  top: 0;
  position: fixed;
}

.mixtape-page {
  left: 33%;
  top: 10px;
  width: 800px;
  position: fixed;
}
.mixtape-page h1 {
  font-size: 14px;
}
.mixtape-player {
  position: relative; 
  height: 50px;
}

.tracklist {
  font-size: 12px;
  overflow: auto;
  left: 10px;
  overflow: scroll;
  padding-left: 30px;
  margin-top: -15px;
  margin-bottom: 70px;
  width: 500px;

}

.mixtape-index{
  position: relative;
  top: 50px;
  left: 60px;
  width: 157px;
  float: left;
}
.mixtape-index img:hover .mixtape-title{
  opacity: 1;
}
.mixtape-thumb {
  width: 130px;
  height: 130px;
  margin-bottom: 10px;
}

.mixtapes {
  margin-left: 50px;
  margin-top: 80px;
  width: 700px;
}
.single-mixtape {
  width: 99%;
  left: 33%;
  bottom: 8%;
  position: fixed;
  border-width: 1px;
}
.mixtape-img {
  float: left;
}
.single-mixtape-img {
  right: 0;
  top: 0;
  z-index: 999;
  position: fixed;
  height: 275px;
  width: 275px;
  opacity: .8;
}
.single-mixtape-img:hover {opacity: 1;}


.mixtape-image {
  top: 10px;
  left: 10px;
  position: fixed;
  width: 220px;
  height: 220px;
}


.mixtape-thumb {
  width: 166px;
  height: 166px;
}

.mixtape-title {
  margin-top: -5px;
  margin-bottom: 15px;
  font-size: 10px;
  opacity: 0;
}
.mixtape-title a {
  text-decoration: none;
}
.mixtape-title a:hover{
  text-decoration: underline;
}


.mixtape-block {
  left: 415;
  display: block;
}

.issue-thumb {
  width: 275px;
}

.single-mixtape-img .mixtape-img:hover{
  opacity: 1;
}

.mixtape-img:hover #mixtape-title{
  display: block;
}
.mixtape-images{
  top: 0px;
  left: 0px;
  width: 300px;
  float: left;
}

.mixtape-images-right{
  top: 0px;
  right: 0px;
  width: 250px;
  margin-right: -20px;
  float: right;
  margin-bottom: 20px;
}

.mixtape-images-left{
  top: 0px;
  width: 250px;
  float: left;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-top: 44px;
}

.issue-images-right{
  top: 10px;
  right: 5px;
  width: 300px;
  margin-right: -20px;
  float: right;
  position: fixed;
}

.issue-image-left{
  top: 0px;
  left: 0px;
  width: 400px;
  position: fixed;
  float: left;
}

.art-title {
  font-weight: bold;
}

/* demo essay */
/*.title {
  position: fixed;
  right: 4%;
  top: 2%;
  margin-left: 2%;
  font-size: 24px;
  width: 370px;
}
.author {
  text-align: right;
}
.text-content {
  text-align: justify;
  font-size: 12px;
  line-height: 16px;
  left: 33%;
}
.text-content a {
  text-decoration: none;
}
.text-content a:hover {
  text-decoration: underline;
}
.block-quote {
  padding-left: 48px;
  text-align: justify;
  font-size: 12px;
  line-height: 12px;
}

.essay-text p.footnote {
  font-size: 8px;
}

.footnote {
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 33%;
  position: fixed;
  font-size: 8px;
  line-height: 8px;
}
.image {
  width: 92px;
  height: 92px;
  background: #fff;
  border: 4px solid #fff;
  border-radius: 4px;
  box-shadow:  0px 2px 3px 0px rgba(0, 0, 0, 0.29);
  position:absolute;
  transition: all 200ms ease-out;
  z-index: 1;
}
.image img {
  width: 100%;
}
.image-caption {
  font-size: 8px;
  line-height: 8px;
}
.essay-wrapper {
  width: 95%;
  margin-left: 2%;
  margin-top: 35%;
  z-index: 99999;
}*/
/* -- */