/* aesthetic.css: styles which don't dramatically change the site's layout */

body {
  background: none;
  background-size: 100%;
  background-position: fixed;
  font-size: 12px;
  font-family: "Futura";
  text-justify: distribute;
}

main {
  font-family: "Futura";
}
main p.author { text-align: right; }
main p.prose { text-align: justify; }
main p.poetry { text-align: left; }
main p { margin-bottom: 1em; }


h1 { text-align: left; }
h2 { margin: 0px; }
h2:after {
  content: "";
  position: absolute; left: 5px; top: 5px;
  color: rgba(255, 0, 0, 0.2);
}
h4 { font-weight: 500; }

.page_wrapper {
  height: 99%;
  width: 99%;
  border: solid;
  border-width: 1px;
  border-color: black;
}







.logo-image {
  position: fixed;
  bottom: 33px;
  right: 0px;
  border: none;
  border-width: 0.5px;
}
div .logo-image p {
  margin-top: 0;
  visibility: hidden;
  font-size: 8px;
}
div .logo-image:hover p {
  visibility: visible;
}


.text_content {
  position: absolute;
  width: 614px;
  left: 33px;
  top: 33px;
  border: none;
  z-index: 0;
  font-size: 8px;
}

.mixtape_div {
  position: absolute;
  width: 45%;
  left: 33px;
  top: 100px;
  border: none;
  z-index: 0;
  font-size: 8px;
}













.navigation-2 {
  list-style-type: none;
  position: fixed;
  right: 33px;
  bottom: 25px;
  font-size: 10px;
  z-index: 1000000;

}
.navigation-2 li {
  display: inline;
  padding: 10px;
 
}
.navigation-2 a {
  text-decoration: none;
  color: gray;
  -webkit-filter: blur(1px);
}
.navigation-2 a:hover { -webkit-filter: blur(0px); text-decoration: underline; -moz-text-decoration-color: #F80000; /* Code for Firefox */
    text-decoration-color: #F80000; }












div .thumbnail p {
  margin-top: 0;
  visibility: hidden;
  font-size: 8px;
}

.thumbnail {
  position: absolute;
  bottom: 5%;
  width: 380px;
  background: white;
  border: none;
}

div .thumbnail:hover p {
  visibility: visible;
}

.thumbnail a:hover { -webkit-filter: blur(0px); }

#t1 {
  left: 1px;
}

#t2 {
  left: 531px;
}

#t3 {
  left: 912px;
}

#t4 {
  left: 1293px;
}

#t5 {
  left: 1674px;
}

#t6 {
  left: 2055px;
}

#t7 {
  left: 2436px;
}

#t8 {
  left: 2817px;
}

#t9 {
  left: 3198px;

}

#t10 {
  left: 3643px;
}









.font-effect-anaglyph {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}

footer {
  font-size: 70%;
}

.shadow-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.shadow-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.shadow-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.shadow-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.shadow-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}