/* aesthetic.css: styles which don't dramatically change the site's layout */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  /*background-color: rgba(0, 0, 0, 0.9);*/
  font-size: 10px;
  font-family: 'Courier New', sans-serif;
  /*color: white;*/
  color: black;
}

/*body a {
  color: white;
}*/

main {
  font-family: "Open Sans", sans-serif; 
}
main p.author { text-align: right; }
main p.prose { text-align: justify; }
main p.poetry { text-align: left; }
main p { margin-bottom: 1em; }


h1 { text-align: left; }
h2 { margin: 0px; }
h2:after {
  content: "";
  position: absolute; left: 5px; top: 5px;
}
h4 { font-weight: 500; }

.page_wrapper {
  height: 99%;
  width: 99%;
  background-color: rgba(0, 0, 0, 0.9);

}

.logo-image {
  display: none;
  position: fixed;
  bottom: 33px;
  right: 0px;
  border: none;
  border-width: 0.5px;
  z-index: -1;
}
div .logo-image p {
  margin-top: 0;
  visibility: hidden;
  font-size: 8px;
}
div .logo-image:hover p {
  visibility: visible;
}
.homepage_image {
  /*width: 380px;*/
  left:0;
  top: 0;
}

.navigation-2 {
  list-style-type: none;
  position: fixed;
  right: 3%;
  bottom: 20px;
  font-size: 10px;
  z-index: 1000000;

}
.navigation-2 li {
  display: inline;
  padding: 10px;
 
}
.navigation-2 a {
  text-decoration: none;
  color: black;
  /*color: yellow;*/
  /*color: white;*/
}

/*.navigation-2 a:hover { filter: blur(1px); -webkit-filter: blur(1px); }*/
.navigation-2 a:hover { text-decoration: underline; }

/* ---- */

.doc-stack {

}
.doc-stack ul {
  list-style-type: none;
}
.doc-stack li {
  width: 300px;
  height: 480px;
}
.doc-stack img {
  width: 380px;
  height: 480px;
}
.doc-stack li#one {
  top: 0;
  left: 0;
}
.doc-stack li#two {
  top: 20%;
  left: 20%;
}
.doc-stack li#three {
  top: 40%;
  left: 40%;
}
.doc-stack li#four {
  top: 60%;
  left: 60%;
}
.doc-stack li#five {
  top: 80%;
  left: 80%;
}




/* ---- */

.text_content {
  width: 614px;
  left: 33px;
  top: 50px;
  font-size: 9px;
}

.contact_column {
  position: fixed;
  bottom: 30px;
  left: 115px;
  font-size: 9px;
}

.mixtape_div {
  width: 45%;
  left: 33px;
  top: 100px;
  border: none;
  z-index: 0;
  font-size: 8px;
}
.mixtapes {
  margin-left: 50px;
  margin-top: 80px;
  width: 700px;
}


.pdf-preview {
  width: 380px;
  top: 30px;
  background-color: red; 
  margin-left: 380px;
  position: fixed;
}

.pdf-preview__image {
  width: 90%;
}

/* --- --- */










/*.nav-bar {
  background-color: red;
  position: fixed;
  height: 40px;
  width: 600px;
  bottom:0;
  font-size: 10px;
}

.nav-bar ul {
  list-style: none;
  list-style-type: none;

}
.nav-bar li {
  display: inline;
  padding: 10px;
}
.nav-bar a {
  text-decoration: none;
  color: gray;
}
.nav-bar a:hover {text-decoration: underline; -moz-text-decoration-color: #F80000; text-decoration-color: #F80000; }

*/





#container {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  perspective: 600;
}
#checkbox {
  width: 38px;
  height: 38px;
  display:block;
  opacity: 0;
  z-index: 2;
  position:absolute;
  left: 0px;
  bottom: 0px;
}
#plus {
  width: 38px;
  height: 38px;
  background: #ff005a;
  border-radius: 19px;
  position:absolute;
  left: 0px;
  bottom: 0px;
  z-index:5;
  text-align:center;
  line-height: 38px;
  color: #fff;
  font-size: 20px;
  font-weight:bold;
  transition: all 200ms ease-out;
}
.image {
  width: 92px;
  height: 92px;
  background: #fff;
  border: 4px solid #fff;
  border-radius: 4px;
  box-shadow:  0px 2px 3px 0px rgba(0, 0, 0, 0.29);
  position:absolute;
  transition: all 200ms ease-out;
  z-index: 1;
}
.image#one {
  transform: translateY( 10px ) translateX( 20px )  rotateX( 60deg );
  background: url('http://brkcan.net/fun/codepen/danbo1.jpg');
}
.image#two {
  transform: translateY( 6px ) translateX( 20px )  rotateX( 60deg );
  background: url('http://brkcan.net/fun/codepen/danbo2.jpg');
}
.image#three {
  transform: translateY( 2px ) translateX( 20px )  rotateX( 60deg );
  background: url('http://brkcan.net/fun/codepen/danbo3.jpg');
}
.image#four {
  transform: translateY( -2px ) translateX( 20px )  rotateX( 60deg );
  background: url('http://brkcan.net/fun/codepen/danbo4.jpg');
}
.image#five {
  transform: translateY( -6px ) translateX( 20px )  rotateX( 60deg );
  background: url('http://brkcan.net/fun/codepen/danbo5.jpg');
}
#checkbox:checked+label .image#one {
  transform: translateY( 220px ) translateX( 20px )  rotateX( 0deg );
  background: url('http://brkcan.net/fun/codepen/danbo1.jpg');
}
#checkbox:checked+label .image#two {
  transform: translateY( 115px ) translateX( 20px )  rotateX( 0deg );
  background: url('http://brkcan.net/fun/codepen/danbo2.jpg');
}
#checkbox:checked+label .image#three {
  transform: translateY( 10px ) translateX( 20px )  rotateX( 0deg );
  background: url('http://brkcan.net/fun/codepen/danbo3.jpg');
}
#checkbox:checked+label .image#four {
  transform: translateY( -95px ) translateX( 20px )  rotateX( 0deg );
  background: url('http://brkcan.net/fun/codepen/danbo4.jpg');
}
#checkbox:checked+label .image#five {
  transform: translateY( -200px ) translateX( 20px )  rotateX( 0deg );
  background: url('http://brkcan.net/fun/codepen/danbo5.jpg');
}
#checkbox:checked+label #plus {
  background: #000;
  opacity: 0.5;
}





























/* demo essay */

.title {
  position: fixed;
  right: 4%;
  top: 2%;
  margin-left: 2%;
  font-size: 24px;
  width: 370px;
}
.author {
  text-align: right;
}

.text-content {
  text-align: justify;
  font-size: 12px;
  line-height: 16px;
}
.block-quote {
  padding-left: 48px;
  text-align: justify;
  font-size: 12px;
  line-height: 12px;
}
.image img {
  width: 100%;
}
.image-caption {
  font-size: 9px;
  line-height: 0;
  font-weight: lighter;
  font-style: italic;
}

.essay-wrapper {
  width: 95%;
  margin-left: 2%;
  margin-top: 35%;
  z-index: 99999;
}

@media (min-width: 520px) {
  .essay-wrapper {
    width: 500px;
    margin-top: 20%;
  }
/*  .title {
    wid*/th: 500px;
  }
}

/* iphone 6 Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .navigation-2 {
      left: 0;
      width: 100%;
      font-size: 12px;
    }
}