<head>
    <title>3C 93 53 27 E4 E1 13 63 92 08 49 40 A4 E2 E4 35 E2 49 EF 2D 3D E9 54 37 D3 C9 04 64 BF 3E 34</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.7<br>Lars Holdhus<br>untitled<br>3C 93 53 27<br> E4 E1 13 63<br> 92 08 49 40<br> A4 E2 E4 35<br> E2 49 EF 2D<br> 3D E9 54 37<br> D3 C9 04 64<br> BF 3E 34</div> -->
<div class="index-number">1.7</div>

<div class="content-wrapper">
	<div class="art-content">
		<!-- <p>1.07</p> -->
		<!-- <h1>LARS HOLDHUS<br>3C 93 53 27 E4 E1 13 63 92 08 49 40 A4 E2 E4 35 E2 49 EF 2D 3D E9 54 37 D3 C9 04 64 BF 3E 34</h1> -->
		<a href="/static/holdhus_untitled.jpg"><img src="/static/holdhus_untitled.jpg"></a>
		<p>Lars Holdhus<br>3C 93 53 27 E4 E1 13 63 92 08 49 40 A4 E2 E4 35 E2 49 EF 2D 3D E9 54 37 D3 C9 04 64 BF 3E 34</p>
	</div>
</div>

{% endblock %}
