{% extends "base.html" %}
{% block content %}

<div class="text_content">

	<p>
	Documnt is a <br>
	hybrid archive <br>
	& publishing <br>
	project:<br>
	/ magazine<br>
	/ theory journal <br>
	/ artists book <br>
	/ mixtape series <br>
	started by Matt <br>
	Arnold and Anne <br>
	Lippert in 2015. <br>
	It’s grown into <br>
	an international <br>
	community of <br>
	artists, writers, <br>
	musicians, & djs <br>
	between Berlin, <br>
	New York City, <br>
	& Vancouver.</p>
	<p>
	As an experiment <br>
	in post-internet <br>
	documentation, or <br>
	different modes <br>
	of handling, <br>
	storing and <br>
	perceiving <br>
	digital/analog <br>
	information, <br>
	objects, <br>
	networks and <br>
	processes, we are <br>
	motivated against <br>
	individualist/<br>
	competitive/<br>
	quantitative-<br>
	obsessed logic, <br>
	toward the <br>
	egalitarian, <br>
	communal and <br>
	emancipatory. <br>
	These are vibrant <br>
	times. <br></p>

	<p>
	We are always <br>
	accepting <br>
	submissions of <br>
	artworks, texts <br>
	and mixtapes. <br>
	</p>

	<p>For email updates,<br> 
	send an email<br> 
	with the word<br> 
	»SUBSCRIBE« <br>
	to <br>
	DOCUMNTMAG<br>
	@GMAIL.COM</p>


</div>

<div class="contact_column">

	<p>Contact<br>
		E-mail: documntmag@gmail.com<br>
		Facebook: <a href="http://facebook.com/documntmag" target="_blank">facebook.com/documntmag</a><br>
		Soundcloud: <a href="http://soundcloud.com/documnt" target="_blank">soundcloud.com/documnt</a><br>
		Mixcloud: <a href="http://mixcloud.com/documnt" target="_blank">mixcloud.com/documnt</a><br>
		<br>
		Matt Arnold, Co-Founder, Editor<br>
		Anne Lippert, Co-Founder, Editor<br>
		Johannes Wilke, Designer, Editor<br>
		Duncan Anderson, Managing Editor<br>
		<br>
		Thanks to Quint Guvernator, Ben Kodres-<br>
		O’Brien, and Nick Tobat for web development <br>
		support.<br>
		<br>
		Thanks to everyone who submitted work for <br>
		<a href=/issues>issue #1</a><br>
		<br>
		<a href="https://www.gofundme.com/documnt-1" target="_blank">Donate</a></p>
		<br>
		Stay in touch
	</p>

</div>


{% endblock %}


<!-- <div class="text_content">

  <a href="/static/documnt-konzept_scrn.png">
      <img src="/static/documnt-konzept_scrn.png" width="380px">
  </a>

</div> -->