{% extends "base.html" %}
{% block content %}
    <div class="background-image"></div>




    <div class="thumbnail" id="t1">

      <a href="/static/documnt-konzept_scrn.png">
          <img src="/static/documnt-konzept_scrn.png" width="380px">
      </a>

    </div>

    <div class="thumbnail" id="t2">
      <a href="/static/Kroker_music-as-organisationalprinciple.jpg">
        <img src="/static/Kroker_music-as-organisationalprinciple.jpg" width="380px">
      </a>
    </div>


    <div class="thumbnail" id="t3">

      <a href="/static/CMZ_1601.jpg">
          <img src="/static/CMZ_1601.jpg" width="380px">
      </a>

    </div>

    <div class="thumbnail" id="t4">

      <a href="/static/aatchim_biscuit_copy.jpg">
          <img src="/static/aatchim_biscuit_copy.jpg" width="380px">
      </a>

    </div>

    <div class="thumbnail" id="t5">

      <a href="/static/holdhus_untitled.jpg">
        <img src="/static/holdhus_untitled.jpg" width="380px">
      </a>

    </div>

    <div class="thumbnail" id="t6">
      <p>Meg Son
      <p>Loving v.
      <br>

      <p>"you h.ive become a woman." thi statement
      <p>are loaded with a number of gender related definitions: it 1 as tf 
      <p>gen
      <p>der were discontinuous (as if she is not a woman until the birth of a 
      <p>child then
      <p>confers womanhood and femininity); is sometimes biologically 
      <p>achieved or
      <p>lost; and in her cultural context ushers in a status that can either be 
      <p>re1ecred
      <p>or assumed and manipulated.

    </div>

    
    <div class="thumbnail" id="t7">

      <a href="/static/Lippert_stop_copy.jpg">
        <img src="/static/Lippert_stop_copy.jpg" width="380px">
      </a>

    </div>

    <div class="thumbnail" id="t8">
      <a href="https://docs.google.com/document/d/1YFgPBWkniRTCTjLfCa0xB2xa6DvZ7uZsB7xOCk1DYlM/pub?embedded=true">
        <iframe src="https://docs.google.com/document/d/1iGEG-Uyk5xsnTZyb_lqzXLVDx5I5WXueFM45QPo65XE/pub?embedded=true" style="width:800px;height:500px;border:solid;border-width: 2px;border-color:black"></iframe>
      </a>
    </div>










    <div class="demo_content_text">






      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>



      <br>

  
      

    
      


      <br>
      <br>
      <br>
      <br>
      <br>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>


      <br>
    </div>


{% endblock %}