<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Documnt</title>

  <link rel="stylesheet" type="text/css" href="/static/aesthetic.css">
  <link rel="stylesheet" type="text/css" href="/static/page_structure.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900' rel='stylesheet' type='text/css'>
  {# 300-weight is available for Lato #}
  <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,900' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="page-wrapper">
    <header>
      <h2><a href="/about" class="logo">documnt</h2>	
      <br>
    </header>

    <div class="navigation-1">
      <ul>
        <li><a href="/">concrete poems</a></li>
        <li><a href="http://soundcloud.com/documnt" target="_blank">mixtapes</a></li>
      </ul>
    </div>

    <div class="navigation-1">
      <ul>
      </ul>
    </div>

    <div class="navigation-2">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="http://www.wooloo.org/open-call/entry/371298" target="_blank">submit</a></li>

      </ul>
    </div>

    <div class="background-image"></div>

    <a href="/demo">
      <div class="empty_box">
        <a href="/demo"> </a>
      </div>
    </a>

    <a href="/demo">
      <div class="empty_box2">
        <a href="/demo"> </a>
      </div>
    </a>

    <div class="demo_content_text">
 
      <iframe src="https://docs.google.com/document/d/1oERu6UWEhDcm1Oa29UHBxVk6NJi9U98Imhe3OxH2VxU/pub?embedded=true" style="width:800px;height:1500px;border:none"></iframe>

      <iframe src="https://docs.google.com/document/d/1YFgPBWkniRTCTjLfCa0xB2xa6DvZ7uZsB7xOCk1DYlM/pub?embedded=true" style="width:800px;height:1500px;border:none"></iframe>

      <br>
    </div>



    <footer>
      <br>
    </footer>
  </div>
</body>
</html>
