<head>
    <title>WITH THE BOOK / MY BODY</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.13<br>Adrian Da<br>Silva<br>With the <br>Book<br>My Body</div> -->
<div class="index-number">1.13</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/da-silva-in-the-book.png"><img src="/static/da-silva-in-the-book.png"></a><br>
		<!-- <a href="/static/da-silva-my-body-1.png"><img src="/static/da-silva-my-body-1.png"></a><br> -->
		<!-- <a href="/static/da-silva-my-body-2.JPG"><img src="/static/da-silva-my-body-2.JPG"></a><br> -->
		<a href="/static/da-silva-with-the-book.JPG"><img src="/static/da-silva-with-the-book.JPG"></a><br>
		<p>Adrien Da Silva<br>WITH THE BOOK .JPG<br></p>
		<br>
	</div>
</div>

{% endblock %}

