<head>
    <title>ANA UNDER GOD 2</title>
    <style>
    	.navigation-2 { display: none; }
    	.index-wrapper { display: none; }
    </style>
</head>

{% extends "base.html" %}
{% block content %}

<div class="content-wrapper">
	<div class="essay-text" style="line-height: 16.1px;">
		
		<h1>The Feeling of Walking Under God</h1>
		<br>
		<p>
			Suddenly she remembered. She looked up and saw the bright clean clear blue sky which was nothing. She remembered there was something above her, which turned out to be nothing, but it was important to remember<br>
			<br>
			&nbsp&nbsp&nbsp&nbsp<em>Because that is the feeling of walking under God,</em><br>
			<br>
			her mother had told her. When she was younger she and her mother had sat on their balcony overlooking a busy but small square. There, her mother said,<br>
			</p>
			<p style="margin-left: 34px;">"Ana."</p>
			<p style="margin-left: 34px;">"Yes, mother?"</p>
			<p style="margin-left: 34px;">"Ana, do you see the man down there handing out food?"</p>
			<p style="margin-left: 34px;">"Yes, I see him now, mother."</p>
			<p style="margin-left: 34px;">"Does he see you?"</p>
			<p style="margin-left: 34px;">"No, mother."</p>
			<p style="margin-left: 34px;">"There. You see him, but he does not see you. You are above, and he is below. But--"</p>
			<p style="margin-left: 34px;">"What is it, mother?"</p>
			<p style="margin-left: 34px;">"But what he does not remember--at least what I think he does not remember--in this moment as he hands out food, is that he could look up."</p>
			<p style="margin-left: 34px;">"To see us sitting here?"</p>
			<p style="margin-left: 34px;">"Exactly, Ana. But there is more still."</p>
			<p style="margin-left: 34px;">"What is it, mother?"</p>
			<p style="margin-left: 34px;">"We, sitting here considering this man below us, we sitting here cannot <em>know</em> that the man does not remember… does not remember that he could be looking up at us sitting here. For example he could have just remembered it--Do you see anything in his eyes?--but he is choosing to continue his business at ground level. Why should he look up at us?"</p>
			<p style="margin-left: 34px;">"I don’t know, mother. Should he?"</p>
			<p>Ana did not know.</p>
			<p style="margin-left: 34px;">"That is not for us to say, my dear."</p>
			<p>Ana thought about it.</p>
			<p style="margin-left: 34px;">"Now, Ana, consider it from the perspective of the Almighty."</p>
			<p>Ana looked into her mother’s face and listened.</p>
			<p style="margin-left: 34px;">"Consider the Divine Creator looking down upon all of His Beings on Earth, they are walking around, doing their business. They might even be sitting on a balcony or at a cafe… Does God see His Beings?"</p>
			<p style="margin-left: 34px;">"Of course, mother."</p>
			<p>Then Ana looked up toward the sky.</p>
			<p style="margin-left: 34px;">"And do His Beings see Him?"</p>
			<p>Ana was staring upwards, her mouth open. She saw Nothing.</p>
			<p style="margin-left: 34px;">"Ana? Do His Beings see Him?"</p>
			<p>Ana was looking through the blue sky and she saw Nothing. She said nothing.</p>
			<p style="margin-left: 34px;">"Ana."</p>
			<p>She woke and her wide blue eyes were back on her mother, then down at the street below. The man was still handing out food.</p>
			<p style="margin-left: 34px;">"Remember, Ana: We cannot see the Divine Creator the way He sees us, and we cannot look upon each other the way He looks upon us… But when we are walking, we can remember to look up, <em>because that is the feeling of walking under God.</em>"</p>
			<p>Ana was silent.</p>
			<!-- <p style="margin-left: 34px;">"We are all frightened, Ana."</p> -->

		<p>
			<br>
			&nbsp&nbsp&nbsp&nbsp
		</p>
	</div>
</div>

{% endblock %}