<head>
    <title>SEXED REALITIES - ANJA KAISER</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">2.0</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/sexed-realities/01.jpg" ><img src="/static/sexed-realities/01.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/sexed-realities/02.jpg" ><img src="/static/sexed-realities/02.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/sexed-realities/03.jpg" ><img src="/static/sexed-realities/03.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/sexed-realities/04.jpg" ><img src="/static/sexed-realities/04.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/sexed-realities/05.jpg" ><img src="/static/sexed-realities/05.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/sexed-realities/06.jpg" ><img src="/static/sexed-realities/06.jpg" style="margin-bottom: 20px"></a><br>
		<h1>Anja Kaiser<br>Sexed Realities — To Whom Do I  Owe My Body?, 2014 – 2017<br>
		<br>
		Handtuch-Kollektion<br>
		Serie bestehend aus 4 Handtüchern, jeweils 145 cm × 85 cm, Jacquard-Strick<br>
		© Laura Jost <br>
		<br>
		2-Kanal-Videoinstallation<br>
		2 × HD-Video, 16:9, 7:12 min, Stereo<br>
		<br>
		Website <a href="http://sexed-realities.anjakaiser.info" target="_blank">— Essay</a></h1>
	</div>
</div>

{% endblock %}
