<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }} :: documnt</title>

  <link rel="stylesheet" type="text/css" href="/static/aesthetic.css">
  <link rel="stylesheet" type="text/css" href="/static/page_structure.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900' rel='stylesheet' type='text/css'>
  {# 300-weight is available for Lato #}
  <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,900' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="page-wrapper">
    <header>
      <h2><a href="/" class="logo">Documnt</a></h2>
      <h2><a href="/" class="logo">Documnt</a></h2>
      <h2><a href="/" class="logo">Documnt</a></h2>
    </header>

    <div class="navigation">
      <ul>
        <p></p>
        <li ><a href="/about">about</a></li>
        <li ><a href="/submit">submit</a></li>
        <br>
        <li><a href="/essay">es say</a></li>
        <li><a href="/poetry">poe try</a></li>
        <li><a href="/mix">m i x</a></li>
        <li><a href="/review">review</a></li>
        <p></p>
      </ul>
    </div>

    <div class ="left">
      <div class="archive">
        <h4>archive</h4>
        <p>12</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <br>
        <p>11</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <br>
        <p>&nbsp<b>turkish-bread</b></p>
        <p>&nbspby Matt Arnold</p>
        <br>
        <p>&nbsp<b>2</b></p>
        <p>&nbspby Ben KO</p>
        <br>
        <p>&nbsp<b>1</b></p>
        <p>&nbspby concrete poet</p>
        <br>
        <p>&nbsp<b>This is just to say</b></p>
        <p>&nbspby William Carlos Williams</p>
        <br>
        <br>
        <p>10</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <br>
        <br>
        <p>09</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <br>
        <br>
        <p>08</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <br>
        <br>
         <p>07</p>
        <p>&nbsp&nbsp&nbsp2015</p>



      </div>
    </div>

    <main>
      <h1>{{ title }}</h1>
      {% block content %}{% endblock %}
      <p class="author">&mdash;{{ author }}</p>
    </main>

    <footer>
      <br>
    </footer>
  </div>
</body>
</html>
