<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }} :: documnt</title>

  <link rel="stylesheet" type="text/css" href="/static/aesthetic.css">
  <link rel="stylesheet" type="text/css" href="/static/page_structure.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900' rel='stylesheet' type='text/css'>
  {# 300-weight is available for Lato #}
  <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,900' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="page-wrapper">
    <header>
      <h2><a href="/" class="logo">Documnt</a></h2>
    </header>

    <div class="navigation">
      <ul>
        <p></p>
        <li align="right"><a href="/about">about</a></li>
        <li align="right"><a href="/submit">submit</a></li>
        <p></p>
        <li><a href="/essay">es say</a></li>
        <li><a href="/poetry">poe try</a></li>
        <li><a href="/mix">m i x</a></li>
        <li><a href="/review">review</a></li>
        <p></p>
      </ul>
    </div>

    <div class ="left">
      <div class="archive">
        <h4>archive</h4>
        <p>11</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>&nbsp</p>
      
        <p>10</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>&nbsp</p>
        
        <p>09</p>
        <p>&nbsp&nbsp&nbsp2015</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>
        <p>Title Title Title</p>

      </div>
    </div>

    <main>
      <h1>{{ title }}</h1>
      {% block content %}{% endblock %}
      <p class="author">&mdash;{{ author }}</p>
    </main>

    <footer>
      <p>
        copyright cc-by-nc documnt 2015
        <br />
        you can use this content non-commercially; see <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">license summary</a>
      </p>
    </footer>
  </div>
</body>
</html>
