<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>documnt :: {{ title }}</title>

  <link rel="stylesheet" type="text/css" href="/static/aesthetic.css">
  <link rel="stylesheet" type="text/css" href="/static/page_structure.css">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,900' rel='stylesheet' type='text/css'>
  {# 300-weight is available for Lato #}
  <link href='https://fonts.googleapis.com/css?family=Vollkorn:400,400italic,900' rel='stylesheet' type='text/css'>

</head>

<body>
  <div class="page-wrapper">
    <header>
      <h2><a href="/" class="logo">DOCUMNT</a></h2>
      <br>
    </header>

    <div class="navigation">
      <ul>
        <p></p>
        <br>
        <br>
        <li ><a href="/about">about</a></li>
        <li ><a href="/submit">submit</a></li>
        <br>
        <p></p>
      </ul>
    </div>

    <div class ="left">
      <div class="archive">
        <br>
        <br>
        <div class="collections">
          <p>03 / 2016</p>
          <p><a href="/essay/mission-statement">MISSION STATEMENT</a></p>
          <p>02 / 2016</p>
          <p>01 / 2016</p>
          <p>12 / 2015</p>
          <br>
          <p>&nbsp<b><a href="/mix/mixtape-01">mixtape-01</a></b></p>
          <p>&nbspby SINOSC</p>
          <p>&nbsp<b><a href="/mix/mixtape-02">mixtape-02</a></b></p>
          <p>&nbspby CLAIRE D.</p>
          <br>
          <br>
          <p>&nbsp<b><a href="/poem/poetics-of-throwing-trash">Poetics of throwing trash...</a></b></p>
          <p>&nbspby Matt Arnold</p>
          <br>
          <p>&nbsp<b><a href="/essay/toward-a-roominess-of-sound">Toward a Roominess of Sound</a></b></p>
          <p>&nbspby Matt Arnold</p>
          <br>
          <p>&nbsp<b><a href="/poem/punishment">Punishment</a></b></p>
          <p>&nbspby Jared Golant</p>
          <br>
          <p>&nbsp<b><a href="/essay/smooth-jazz">Smooth Jazz</a></b></p>
          <p>&nbspby Daniel Lopatin</p>
          <br>
          <p>&nbsp<b><a href="/essay/schizophrenic-writing">Schizophrenic Writing</a></b></p>
          <p>&nbspby John Ensslin</p>
          <br>
          <p>&nbsp<b><a href="/essay/sound-poetry">Sound Poetry</a></b></p>
          <p>&nbspby Steve McCaffery</p>
          <br>
          <p>&nbsp<b><a href="/2">when we stand...</a></b></p>
          <p>&nbspby Ben KO</p>

          <p>&nbsp<b><a href="/1">schon dagewesen</a></b></p>
          <p>&nbspby concrete poet</p>

          <p>&nbsp<b><a href="/0">This is just to say</a></b></p>
          <p>&nbspby WCW</p>
          <br>
          <p>11 / 2015</p>
          <br>
          <br>
          <p>10 / 2015</p>
          <br>
          <br>
          <p>09 / 2015</p>
          <br>
          <br>
          <p>08 / 2015</p>
          <br>
          <br>
          <p>07 / 2015</p>
          <br>
          <br>
          <p>06 / 2015</p>
          
          <br>
          <br>
          <p>05 / 2015</p>
          
          <br>
          <br>
          <p>04 / 2015</p>
          
          <br>
          <br>
          <p>03 / 2015</p>
          
          <br>
          <br>
          <p>02 / 2015</p>
          
          <br>
          <br>
          <p>01 / 2015</p>
          <p>&nbsp<b><a href="/3">turkish-bread</a></b></p>
          <p>&nbspby Matt Arnold</p>
          <br>
          <p>12 / 2015</p>
          <br>
          <br>
          <p>11 / 2015</p>
          <br>
        </div>
      </div>
    </div>

    <main>
      {% if mix_url %}
      <iframe width="770px" height="166" scrolling="no" frameborder="no" src="{{ mix_url }}"></iframe>
      {% endif %}
      {% if googledoc_url %}
      <iframe src="{{ googledoc_url }}" style="width:770px;height:{{ height }}px;border:none"></iframe>
      {% elif title %}
      <h1>{{ title }}</h1>
      {% block content %}{% endblock %}
      <p class="author">&mdash;{{ author }}</p>
      {% endif %}
    </main>

    <footer>
      <br>
    </footer>
  </div>
</body>
</html>
