{# document_content.html: for experiencing a document#}

{# I copied unnecessarily from base.html, we will eventually extend#}

<!doctype html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <title>Documnt</title>
  <link rel="stylesheet" type="text/css" href="/static/aesthetic.css">
  <link rel="stylesheet" type="text/css" href="/static/page_structure.css">

</head>


<body>

  <div class="page-wrapper">

    <header>
      <h2><a href="/" class="logo">Documnt</h2>
      <br>
    </header>

    <div class="navigation-0">
      <ul>
        <li><a href="/">issues</a></li>
        <li><a href="http://soundcloud.com/documnt" target="_blank">mixtapes</a></li>
      </ul>
    </div>

    <div class="navigation-2">
      <ul>
        <li><a href="/about">about</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/subscribe">subscribe</a></li>
        <li><a href="/submit">submit</a></li>
      </ul>
    </div>

    <div class="background-image"></div>





    <div class="empty_box"></div>


    <div class="demo_content_text">
      <iframe src="https://docs.google.com/document/d/1IjRG-EIldjlDReOgH0c_stDE1-lYwUVcmdiZuKyUt4o/pub?embedded=true" style="width:800px;height:1500px;border:none"></iframe>
      <p>link</p>
    </div>





    <main>
      {% if mix_url %}
      <iframe width="770px" height="166" scrolling="no" frameborder="no" src="{{ mix_url }}"></iframe>
      {% endif %}
      {% if googledoc_url %}
      <iframe src="{{ googledoc_url }}" style="width:770px;height:{{ height }}px;border:none"></iframe>
      {% elif title %}
      <h1>{{ title }}</h1>
      {% block content %}{% endblock %}
      <p class="author">{{ author }}</p>
      {% endif %}
    </main>

    <footer>
      <br>
    </footer>

  </div>

</body>

</html>