{% extends "base.html" %}
{% block content %}

	<div class="title">
      <p>Letter from the Editor</p>
  	</div>

  	<div class="essay-wrapper">

      <div class="text-content">
        <p>The fate of refugees is effectively controlled by the presence or absence of 
        certain documents, Simon Roloff reminds us in his essay for the first issue
        of <em>Documnt</em>. Timely in bringing experimental literature into contact with
        politics and aesthetics, it questions the political efficacy of the most prominent
        techniques in contemporary conceptual literature: "conceptuary writing", algorithmic 
        writing, and "appropriation art".</p>
        <p>The other major written work for this issue was written by Bryony Gillard for her
        MFA thesis at the Dutch Art Institute, an abridged version we publish here. A 
        "constellation" diverging somewhat from traditional essay structures, it is a
        feminist critique of the male-dominated history of "concrete poetry", exploring the
        lack of female voices in the established canon, and highlighting a host of feminine and 
        feminist experimental writers and artists who have been ignored.</p>
        
        <p><em>Documnt</em> is serving as a space for art-theoretical, literary, and political
        writing and art dealing with technology, language, sound and space. We accept submissions of all kinds (including mixtapes), which can be sent to 
        documntmag@gmail.com, which we publish and make available for download on our website:</p>
        <p style="text-align: center">documnt.net</p>
        <p>We are constantly working on a political/aesthetic reading/viewing/handling of 
        documents, from receipts to band-aids... Yes, <em>Documnt</em> aims at manipulating
        this Internet tangle of data "debris" in hopes of discovering new relationships 
        between analog and digital, theory and practice. We welcome anyone interested.</p> 
      </div>
    </div>
<!--     <div class="text_content">
      <p><a href="/texts">back to texts</a></p>
      <iframe src="https://drive.google.com/file/d/0B2Y8UI_ZCUiwcnY4VGViNzZZZ0U/preview" width="630px" height="640px"></iframe>
    </div> -->

{% endblock %}