<head>
    <title>DOCUMNT1 INDEX</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="back-to">
	<a href="/issues">< back to issues</a>
</div>

<div class="index-text">
	<p>DOCUMNT1<br>
		SPRING 2017<br>
		<a href="https://www.dropbox.com/s/dz68gwi5vere7e2/DOCUMNT1.pdf?dl=0" target="_blank">114.9 MB</a><br>
		<br>
		DOCUMNT<br>
		Documnt wants to be free<br>
		<br>
		MIRJAM KROKER<br>
		Concept Nr. 05:<br>
		Music as organisatori<br>
		al Principle<br>
		<br>
		SIMON ROLOFF<br>
		How to do things<br>
		with docs:<br>
		Notes toward a conceptual<br>
		politics of literature<br>
		<br>
		DIANA LUDZAY<br>
		Gefühlt Aphrodite mit Soße<br>
		<br>
		JOEUN AATCHIM<br>
		Your Poetry Reader<br>
		<br>
		KARL HOLMQVIST<br>
		Untitled<br>
		I'LL MAKE THE WORLD<br>
		EXPLODE<br>
		<br>
		LARS TCF HOLDHUS<br>
		3C 93 53 27 E4 E1 13 63 92<br>
		08 49 40 A4 E2 E4 35 E2 49<br>
		EF 2D 3D E9 54 37 D3 C9 04<br>
		64 BF 3E 34<br>
		<br>
		N. KATHERINE HAYLES<br>
		From:<br>
		How We Became Posthuman:<br>
		Virtual Bodies in <br>
		Cybernetics<br>
		<br>
		BISERA KRCKOVSKA<br>
		On Transmission 01 & 02<br>
		<br>
		HERVÉ ALL<br>
		Memorial Numerique<br>
		<br>
		JACQUES RANCIÈRE<br>
		From:<br>
		The Flesh of Words:<br>
		The Politics of Writing<br>
		<br>
		STEVE ROSENTHAL<br>
		BerlinBoy<br>
		<br>
		ADRIEN DA SILVA<br>
		With the Book<br>
		My Body<br>
		<br>
		TINNA SIRADZE<br>
		Hello World<br>
		Dinosaurs after Apocalypse<br>
		<br>
		KURT EIDSVIG<br>
		Mixed Messages<br>
		<br>
		KATARINA HENRIKSSON<br>
		Et in Arcadia Ego<br>
		<br>
		WISŁAWA SZYMBORSKA<br>
		Tower of Babel<br>
		<br>
		BRYONY GILLARD<br>
		An Exploration of<br>
		Verbivocovisual Borders<br>
		and Margins<br>
		<br>
		R. PROST<br>
		Enchiridions<br>
    </p>
</div>

{% endblock %}