
<head>
    <title>DOCUMNT2 Bios</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="content-wrapper">
    <div class="art-content" style="margin-top: 2%;">
    	<p>Ella Coon<br>
    		<br>
		</p>
		<p>Anna Erdmann<br>
			<br>
		 </p>
		<p>Experimental Jetset<br>
			<br>
		 </p>
		<p>Malin Gewinner<br>
			<br>
		 </p>
		<p>Inside Job </p>
		<p>Nico Jungel </p>
		<p>Anja Kaiser </p>
		<p>Rachel Kalmar </p>
		<p>Grischa Lichtenberger </p>
		<p>Hanne Lippard </p>
		<p>Amelie Neumann aka burgund t brandt </p>
		<p>Sarah Newman </p>
		<p>Hito Steyerl </p>
		<p>Daniel Temkin </p>
		<p>Johannes Wilke </p>
		<p>Ewa Wójtowicz </p>
		<p>Jessica Yurkofsky </p>
    </div>
</div>


{% endblock %}