<head>
    <title>ENCHIRIDIONS</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">1.19</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/enchiridion-001.jpg" ><img src="/static/enchiridion-001.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/enchiridion-037.jpg" ><img src="/static/enchiridion-037.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/enchiridion-048.jpg"><img src="/static/enchiridion-048.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/enchiridion-062.jpg"><img src="/static/enchiridion-062.jpg" style="margin-bottom: 20px"></a><br>
		<a href="/static/enchiridion-072.jpg"><img src="/static/enchiridion-072.jpg" style="margin-bottom: 20px"></a>
		<h1>R. Prost<br>Enchiridions No. 1, 37, 48, 62, 72</h1><br>
	</div>
</div>

{% endblock %}
