<head>
    <!-- <title>DOCUMNT HOME</title> -->
    <title>documnt.net/events</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="content-wrapper">
    <div class="art-content">
      <img style="width:393px;" src="/static/D2_PYLON_Flyer.png">
      <p style="width: 393px; margin-bottom:0"><a href="https://www.facebook.com/events/219120975583886/" target="_blank">Documnt2 Book Release @PYLON-Lab</a><br>
        at <a href="http://pylon-hub.com/lab" target="_blank">PYLON-Lab</a>, Dresden<br>Thu 12 Jul 2018 </p>
      <br>
      <br>
      <br>
      <img style="width:393px;" src="/static/D2_POSTER_Final.png">
      <p style="width: 393px; margin-bottom:0"><a href="https://www.facebook.com/events/2046239542282533/?active_tab=about" target="_blank">Documnt2 Book Release w/ Kyoka (live) and more</a><br> 
      at <a href="https://www.acudmachtneu.de" target="_blank">ACUD MACHT NEU</a>, Berlin<br>Fri 6 Jul 2018 </p>
      <br>
      <br>
      <br>
      <img style="width:393px;" src="/static/documnt1_release_poster.jpg">
      <p style="width: 393px; margin-bottom:0"><a href="https://www.facebook.com/events/2046239542282533/?active_tab=about" target="_blank">Documnt1 Release w/ Grischa Lichtenberger, Alva Noto and more</a>
      <br> at <a href="https://www.acudmachtneu.de" target="_blank">ACUD MACHT NEU</a>, Berlin<br>Sat 25 Mar 2017 </p>
      <br>
      <br>
      
    </div>
</div>

{% endblock %}