<head>
    <title>Two or Three Things I Know About Provo</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">2.13</div>

<div class="content-wrapper">
	<div class="art-content">
		<h1>Experimental Jetset<br>
			<br>
			Two or Three Things I Know About Provo
			</h1>
		<br>
		<!-- <p style="font-size: 14px; line-height: 15px"> -->
		<p>
			<b>1. Two or Three Things I Know About Provo</b><br>
			<br>
			Introduction<br>
			<br>
			In short, Provo was an Amsterdam anarchist movement that existed for just two years (1965–1967), although its existence resonated for years to come, in the Netherlands and abroad.<br>
			<br>
			Through printed matter, conceptual activism and speculative political proposals (e.g., the ‘White Plans’), the Provo movement captured the imagination of a generation, and forever shaped the Dutch political and cultural landscape. Part art movement and part political party, Provo was a loose-knit collective, consisting of individuals with very different ambitions: subversive agendas, artistic motives, utopian ideas, concrete plans. Between1965 and 1967, these motives and agendas briefly overlapped, enabling a unique movement. A movement that liquidated itself in 1967, in a self-declared act of ‘auto-provocation’.<br>
			<br>
			Looking at the strategies and methods of Provo, we are immediately reminded of a quote by Baudrillard, from ‘Utopia Deferred’ (Semiotexte, 2006):<br>
			<br>
			<em>Walls and words, silk-screen posters and hand-printed flyers, were the true revolutionary media in May 1968. The streets where speech started and was exchanged: everything that is an immediate inscription, given and exchanged. Speech and response, moving in the same time and in the same place, reciprocal and antagonistic.</em><br>
			<br>
			Obviously, Baudrillard is talking here about the Parisian insurrection of 1968 – while Provo took place three years earlier. But still, we think this particular quote could also be used perfectly to describe the working methods of Provo.<br>
			<br>
			At the heart of Provo is exactly the notion of the streets as a place of immediate “speech and response”. Magazines were distributed in the streets, posters were pasted to the walls, performances (‘happenings’) took place on public squares (and around specific statues and monuments), surreal slogans were being chanted (such as a repeated mantra of “ugh, ugh, ugh”), and pamphlets were handed out to unsuspecting bystanders. In the meantime, the (illegal) printing press of Provo had to be moved constantly, from one location to another, because there was always the danger of confiscation.
			So the printing press itself was on a constant ‘dérive’ through the city, echoing the way the Provos themselves were drifting through the streets of Amsterdam. In that sense, we do believe that the story of Provo is mainly one about the symbiotic relationship between the city and the printing press.<br>
			<br>
			In fact, we even think that, in the case of Provo, the city itself became a printing press. Through the distribution of magazines and pamphlets, and through the use of site- specific performances (‘happenings’ and ‘situations’), Provo turned the city into a place where ideas were enlarged, multiplied and reproduced. In other words, through Provo, the city revealed itself as a device for reproducing ideas – a metaphorical printing press.<br>
			<br>
			In this regard, a person that needs to be mentioned is Rob Stolk (1946–2001), one of the main founders of Provo. Coming from a socialist working class background, Stolk was involved in activism from a very young age. His involvement in Provo forced him to become a printer; since mainstream printing offices refused to handle the subversive and sometimes illegal Provo material, he had no other option than to print these publications himself. Reflecting on this situation, Stolk often quoted American journalist A. J. Liebling: “Freedom of the press is for those who own one”.<br>
			<br>
			<br>
			<img src="static/EJ_provo4_cover.JPG">
			<p class="image-caption">Issue 4 of Provo magazine (published in October, 1965)</p><br>
			<br>
			<p>After the liquidation of Provo, Rob Stolk remained an important figure in various post-Provo movements, most notably in the early squatters’ scene (Woningburo de Kraker), and in Aktiegroep Nieuwmarkt (the action committee that successfully protested against the demolition of the Amsterdam Nieuwmarkt district and surrounding areas). In 1969, he was involved in the occupation of Het Maagdenhuis (the main building of the University of Amsterdam), operating a printing press from within the occupied building. <br>
			<br>
			From 1976 to 1983, he published the satirical/historical magazine ‘De Tand des Tijds’. In the 1980s and 1990s, he became one of the most prolific cultural printers in Amsterdam, until his untimely death in 2001, when he was only 55 years of age.<br>
			<br>
			To clarify this triangle (between Provo, the city, and the printing press), it might be interesting to take a look at some of the recurring visual motifs, as can be found within the graphic language of the Provo movement:<br>
			<br>
			<br>
			<img src="static/EJ_0066.JPG">
			<p class="image-caption">Issue 11 of Provo magazine (published in August, 1966)</p><br>
			
			<p>The sign of the apple<br>
			<br>
			The sign of the apple (also known as the ‘gnot sign’, the term ‘gnot’ being a neologism referring to god, gnosis and the Dutch word ‘genot’ [joy]) was conceived around 1962, by pre/proto-Provo pioneers Bart Huges and Robert Jasper Grootveld, when they were looking for a sign to symbolize the notion of Amsterdam as ‘Magies Sentrum’ [‘Magikal Senter’]. Originally, the sign stood for a whole range of possible meanings: from a third eye to a fetus, from a skull to a butthole. In 1965, when the sign was adopted by the Provo movement, its meaning narrowed down to the idea of the apple as a representation of the map of Amsterdam.<br>
			<br>
			At first sight a drawing of an apple, the sign actually functioned as a city plan, in which the circular outline symbolized the canals, the short stem (or stalk) symbolized the Amstel river, and the dot symbolized the Spui (the square where the main Provo happenings took place).<br>
			<br>
			Since 1965, the gnot sign became the unofficial logo of the Provo movement, appearing frequently in print and on walls. In a sense, it is the perfect sign for Provo: a psychogeographical micro-map, grounding the Provo movement firmly in the material surroundings of Amsterdam.<br>
			<br>
			<br>
			The colour white<br>
			<br>
			A collection of pamphlets and articles published by Provo between 1965 and 1967, the white plans were basically a series of speculative political proposals. Presented as ‘white’ gestures, these plans functioned as Fluxus-like interventions in the political landscape.<br>
			<br>
			White plans included the White Bicycle Plan, White Chimney Plan, White Wives Plan, White Chicken Plan, White Housing Plan, White Kids Plan, White Victim Plan, White Car Plan, White Sex Plan, White School Plan, White City Plan and White Corpse Plan.<br>
			<br>
			When Provo turned into a political party, many of these white plans were incorporated in the official party program. Although most plans were never realized in the lifetime of Provo, echoes of them can be found in many social and ‘green’ policies that are nowadays taken for granted. The White Bike plan, for example, has been the main inspiration behind many of today’s ‘public bicycle’ programs all over the world.<br>
			<br>
			Although there are various (conflicting) stories regarding the meaning of the colour white within Provo, the immediate effect is clear: the colour white seems to represent a clean slate, a ‘tabula rasa’, a projection screen on which the desires of a complete generation could be projected.<br>
			<br>
			A good example of such a ‘projection screen’ can be found in the empty banner that the Provos were carrying with them in a protest march in 1966, when they were demonstrating against a local law that prohibited them to demonstrate. Although the empty banner can be seen as a ludic provocation against that specific law, it’s not hard to see the banner as an outspoken aesthetic and conceptual gesture as well.<br>
			<br>
			<br>
			The brick wall pattern<br>
			<br>
			Another recurring motif in the language of Provo is the brick wall pattern. The most clear example of this pattern can be seen in the first few issues of the Provo magazine, which were wrapped in covers made from actual dollhouse wallpaper, with the handwritten word ‘Provo’ appearing as graffiti on a wall.<br>
			<br>
			This simple graphic trick, of turning the cover of a magazine into a brick wall, is yet another example of the way in which Provo tried to forge a connection between walls and words.<br>
			<br>
			In an early interview, one young Provo is quoted as saying that the brick wall pattern symbolized “the wall everybody will bang their head against, sooner or later” – which is one explanation. However, regarding the use of the pattern within Provo, it seems more fitting to see the brick wall pattern as a gesture emphasizing the notion of the wall as a blank canvas – in other words, as a constructive gesture rather than a fatalistic one.<br>
			<br>
			<br>
			<br>
			<img src="static/EJ_0007.JPG">
			<p class="image-caption">Page from 'Magiër van een Nieuwe Tijd: Het Leven van Robert Jasper Grootveld', written by Eric Duivenvoorden (De Arbeiderspers, 2009)</p><br>
			<br>
			<!-- <br> -->
			<p>Smoke signals<br>
			<br>
			Yet another illustration of this idea of ‘the city as a printing press’ can be found in the strategic use of smoke. As a protest against the marriage of Queen Beatrix and Prince Claus, the Provo movement prepared ‘smoke bombs’ (technically speaking, these weren’t really ‘bombs’, but non-explosive devices to create smoke screens) that were used during the royal wedding procession on March 10, 1966.<br>
			<br>
			As the Dutch writer Jan Wolkers once pointed out: these smoke bombs should really be seen as “smoke signals, one of the oldest languages in the world”. The way in which the Provo movement used the city as a platform to showcase these smoke signals, to stage this archetypical form of communication, clearly illustrates the idea of the city as a device to produce and reproduce language.<br>
			<br>
			<br>
			A typology of statues<br>
			<br>
			A clear example of the way Provo occupied the city of Amsterdam can be found in the appropriation (both physically and ritually) of the town’s statues.<br>
			<br>
			By staging specific performances (happenings and demonstrations) near these statutes, these public sculptures and monuments (such as Het Lieverdje, the Domela Nieuwenhuis statue, De Dokwerker, and the Van Heutsz Monument) were transformed into Provo archetypes (the ‘nozem’, the anarchist, the worker, the authority figure, etc.), effectively turning the lay-out of the city into a symbolical, psychogeographical space – a true theatre for the Provotarian narrative.<br>
			<br>
			<br>
			The mirrored A<br>
			<br>
			Designed in 1966 (by the Provo-affiliated illustrator Bernard ‘Willem’ Holtrop), the iconic ‘Day of Anarchy’-poster announces the demonstrations that would take place during the royal wedding procession on March 10 of that year. <br>
			<br>
			The mirrored letter A obviously (and perfectly) symbolizes the notion of anarchy – but it’s not hard to see, in the mirrored A, also a reflection of the notion of printing itself. After all, most techniques of printing (whether it’s letterpress, offprint, or screenprint) involve processes in which images are either mirrored, turned upside-down or made negative.<br>
			<br>
			In that sense, this poster also represents the contrarian nature of printing itself: the idea that positive results can often only be achieved through negative actions.<br>
			<br>
			<br>
			<br>
			<img src="static/EJ_provo4-spread01.JPG"><br>
			<img src="static/EJ_provo4-spread02.JPG"><br>
			<img src="static/EJ_provo4-spread04.JPG"><br>
			<img src="static/EJ_provo4-spread05.JPG"><br>
			<p class="image-caption">Selected spreads from Provo magazine issue 4</p><br>
			<br>
			<!-- <br> -->
			<p>
			<b>2. Activism to archivism, archivism to activism</b><br>
			<br>
			<em>The greatest modernizers inaugurate their career with a backward leap, and a renaissance proceeds through a return to the past, a recycling, and hence a revolution. [...] Behind the 're' of reformation, republic or revolution, there is a hand flicking through the pages of a book, from the end back to the beginning.</em><br>
			– Régis Debray ('Socialism and Print’, 2007) <br>
			<br>
			Researching the Provo movement, and its post-Provo offshoots, it is impossible not to be struck by the symbiotic relationship between the archivist and the activist – two roles that are fully dependent on each other. Activism generates archives, archives generate activism – and so forth.<br>
			<br>
			Provo, a movement that might appear to some people as a phenomenon without history, was in fact very much inspired by the early socialist, anarchist, and pacifist movements that existed in the Netherlands between the First and Second World War (decades before the birth of Provo).<br>
			<br>
			In Niek Pas' book 'Imaazje: De Verbeelding van Provo, 1965–1967’ (Wereldbibliotheek, 2003), there is a wonderful paragraph in which Rob Stolk recalls that, during his childhood years, he was very impressed by the book shelves of Van der Veen, the father of a friend. Through these book shelves, Rob came across revolutionary thinkers such as Domela Nieuwenhuis (1846–1919), whose ideas would become influential to Provo. In other words, it was book collections, libraries and archives that served as some of Provo's biggest inspirations.<br>
			<br>
			And all throughout the actions of Provo, the archive continued to play an important role. Already during its existence, Provo actively documented itself – magazine articles were saved, photos were collected, scrapbooks were compiled. <br>
			<br>
			<br>
			<br>
			<img src="static/EJ_Delta-1.JPG"><br>
			<img src="static/EJ_Delta-3.JPG"><br>
			<img src="static/EJ_Delta-4.JPG"><br>
			<img src="static/EJ_Delta5.JPG"><br>
			<p class="image-caption">Selected spreads from issue 3, volume 10 of Delta magazine (Autumn 1967)</p>
			<br>
			<p>During some of the Provo happenings that took place around Het Lieverdje (the statue at Spui Square), a large cardboard folder was carried around, adorned with a brick wall pattern. This folder contained a large collection of newspaper clippings, all on the subject of Provo. The role of this cardboard folder was almost ritual – it was placed against the statue, people dancing around it frantically, bearing torches and slogans. Seen that way, the archive became the heart of the happening, the center of the movement itself. The archive was transformed into a battery, an accumulator, a generator of activism. <br>
			<br>
			A very concrete example of this (activism being generated by the archive) took place during the final stages of Provo. Immediately after the 1967 liquidation (or better said, self-liquidation) of Provo, Rob Stolk and a couple of his close friends decided to sell their personal Provo material to the library of the University of Amsterdam (UvA). This act (the selling of the archive) was certainly meant as a conceptual, artistic gesture: as the "final provocation”. A special committee was invented (the ‘Provo Likwiedaatsie Kommissie’), and managed (after bluffing that an American university was interested in buying the archive) to make a deal with the University of Amsterdam – in total, a sum of 13.010,- guilders was paid for the archive.<br>
			<br>
			<br>
			<br>
			<img src="static/EJ_10maart-pamflet.jpg"><br>
			<br>
			The transfer of this archive was actually captured on film. The movie (quite proto-punk in its conception – part Great Rock & Roll Swindle, part Great Train Robbery) shows Rob and his friends, dressed as gangsters, driving around in Amsterdam while carrying plastic machine guns and a large trunk filled with archival material. After the trunk was delivered at the university, the Provos (still dressed as mobsters, and carrying toy guns) went to the bank to deposit the money – where they were immediately arrested by police officers who thought they stumbled onto an actual bank robbery.<br>
			<br>
			From the 13.010,- guilders that the Provo Likwiedaatsie Kommissie received from the University of Amsterdam, 3.000,- guilders were donated to Robert Jasper Grootveld, and his Lowland Weed Company. The rest of the money (10.000,- guilders) was used to found (and fund) the 'Stichting ter Bevordering van een Goed en Goedkoop Leven' ('Foundation for the Promotion of Good and Cheap Living'), an action committee that played a crucial role in both the early squatters’ movement (Woningburo De Kraker) and Aktiegroep Nieuwmarkt (the resistance against the total demolition of the Amsterdam's Nieuwmarkt area).<br>
			<br>
			In other words, it was the death of Provo (and the act of selling of the archive) that enabled these new movements to take place – like a Provotarian phoenix rising from its ashes. A very clear illustration of activism being generated by an archive that was generated by activism. <br>
			<br>
			The Provo archive remained in the library of the University in Amsterdam until 1990 (being carefully maintained by archivist-activist-artist Tjebbe van Tijen), until it was transferred to the International Institute of Social History (IISG), where it is currently accessible to the public – and hopefully functions as a new generator for both activism and archivism.<br>

			<br>
			<br>

		</p>
	</div>
</div>

{% endblock %}