<head>
    <title>From FOUCAULT'S FOSSILS - LYNNE HUFFER</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">2.0</div>

<div class="content-wrapper">
	<div class="essay-text">
		<p style="line-height: 14px">If fossilized nonhuman lives appear as stone, Foucault’s infamous human lives appear as ashes or dried plants and flowers organized in an herbarium as an “anthology of existences.” And just as fossils appear as pictorial poems in the sedimented archive of nature, so too archival “poem-lives” appear in asylum registers and police reports to mark the passage of beings: sodomite monks and feeble-minded usurers. Further, Foucault tells us, their matter matters: unlike literary characters, he says, these beings “lived and died,” appearing to him only in their death, as a fossil would, in the form of petrified insect, fish, or worm. To be sure, unlike the fossil, the poem-life appears to us because of an encounter with power which, in striking down a life and turning it to ashes, makes it emerge, like a flash, out of the anonymous murmur of beings who pass without a trace.</p>
		<br>
		<p class="endnote">— Lynne Huffer, "Foucault's Fossils"</p><br>
	</div>
</div>

{% endblock %}