<head>
    <title>Gefühlt Aphrodite mit Soße</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.4<br>Diana Ludzay<br>Gefühlt Aph-<br>rodite mit<br>Soße</div> -->
<div class="index-number">1.4</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/gefuehlt-1.jpg"><img src="/static/gefuehlt-1.jpg" style="transform: rotate(180deg); margin-bottom: 20px;"></a><br>
		<a href="/static/gefuehlt-2.jpg"><img src="/static/gefuehlt-2.jpg" style="transform: rotate(180deg); margin-bottom: 20px;"></a><br>
		<a href="/static/gefuehlt-3.jpg"><img src="/static/gefuehlt-3.jpg" style="transform: rotate(180deg); margin-bottom: 20px; "></a><br>
		
			<p>Diana Ludzay<br>Gefühlt Aphrodite mit Soße</p>
		
<!-- 		<p>ARTIST STATEMENT . NO 7</p>
		<p style="width:469px">01  all elements of the formal construct „language“ are exchangeable<br>
			02  horribile dictu — however : meaning allures and dulls me<br>
			03  the subject of the work is my state of being in the process of renunciation of any input from an already existing artistic position<br>
			04  i am blind to the mechanisms of art / economical / ideological<br>
			05  i must remain blind<br>
			06  but i respond to the evaluations of artistic positions and the sound exaggerated praise and doom creates<br>
			07  the halcyonic feeling originates from the act of non-performance: scheme and expectation as the slush of peer group shelter XXXXXX are a replica of doubt and therefore sabotage<br>
			08  grammaticalXX ambiguity is bliss<br>
			09  typing  :  the sound cannot be erased<br>
				       :  an error remains an error<br>
				       :  words cannot unfold in the digital suppression of bits<br>
				       :  the structure of paper as an empty surface gets torn in<br>
				          the typing-process . letters as traces . signs as traces //<br>
				          folding as trace<br>
			10  political references are optional<br>
			11  it all is a neologismic turn<br>
			12  the mere moment is the creation of an impossible grammatical path<br>
			13  not a decade to remain meek<br>
			14  ///////// lead-free light escapism of disinterested play with the rigid construction of dictionaries<br>
			15  the explanation of XXX the body of work is a white lie<br>
			16  the wicker work of a subjective approach is unstable<br>
			17  XXX work and meaning are terms unlike to ever be reconciled.<br>
			<br>
			12/09/2016
			<br>
			<br>
			<br>
			<br> -->
		<!-- </p> -->
	</div>
</div>
{% endblock %}