<head>
    <title>Keywords, Scans</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">2.3</div>

<div class="content-wrapper">
	<div class="art-content">
		<!-- <a href="/static/HL_18.jpeg" ><img src="/static/HL_18.jpeg" style="margin-bottom: 20px"></a><br>
		<a href="/static/HL_20.jpeg" ><img src="/static/HL_20.jpeg" style="margin-bottom: 20px"></a><br>
		<a href="/static/HL_21.jpeg" ><img src="/static/HL_21.jpeg" style="margin-bottom: 20px"></a><br> -->
		<a href="/static/HL_24.jpeg" ><img src="/static/HL_24.jpeg" style="margin-bottom: 20px"></a><br>
		
		<p>Hanne Lippard<br>
			<!-- Scan 18<br>
			Scan 20<br>
			Scan 21<br> -->
			Scan 24, 2018<br>
		</p>
	</div>
</div>

{% endblock %}