{% extends "base.html" %}
{% block content %}

<div class="homepage_image">
  <a href="/issues">
    <img src="/static/documnt1-release-poster.jpg" height="90%">
  </a>

</div>

<!-- <div class="pdf-preview">
	<div class="pdf-preview__image">
		<a href="/static/Zylinska_2014_Minimal-Ethics-for-the-Anthropocene.pdf">
    		<img src="/static/zylinska-cover.png" width="380px">
  		</a>
	</div>
	<div class="pdf-preview__caption">
		<p>Joanna Zylinska, Minimal Ethics for the Anthropocene (2014)</p>
	</div>
</div> -->
<!-- <div class="doc-stack">
		<ul>
			<li>
				<div class="doc"<a href="/texts">
				<img src="static/zylinska-cover.png"></a></li>
			<li id="two"><a href="/texts">
				<img src="static/zylinska-cover.png"></a></li>
			<li id="three"><a href="/texts">
				<img src="static/zylinska-cover.png"></a></li>
			<li id="four"><a href="/texts">
				<img src="static/zylinska-cover.png"></a></li>
		</ul>
	</div>
<div id="container">
	
    <label for="checkbox">
    	<div id="plus">+</div>
        <div class="image" id="one"></div>
        <div class="image" id="two"></div>
        <div class="image" id="three"></div>
        <div class="image" id="four"></div>
        <div class="image" id="five"></div>
    </label>
</div> -->

{% endblock %}