{% extends "base.html" %}
{% block content %}

<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="258" height="338" title="Click Here to donate!" type="application/x-shockwave-flash"><param name="movie" value="//funds.gofundme.com/Widgetflex.swf" /><param name="quality" value="high" /><param name="flashvars" value="page=2fc4auw2&template=7" /><param name="wmode" value="transparent" /><embed allowScriptAccess="always" src="//funds.gofundme.com/Widgetflex.swf" quality="high" flashVars="page=2fc4auw2&template=7" type="application/x-shockwave-flash" wmode="transparent" width="258" height="338"></embed></object>


 <div class="thumbnail" id="t2">
  <a href="/static/Kroker_music.jpg">
    <img src="/static/Kroker_music.jpg" width="380px">
  </a>
  <p>Mirjam Kroker</p>
</div>

<div class="thumbnail" id="t6">
  <a href="/static/Aatchim_biscuit.jpg">
      <img src="/static/Aatchim_biscuit.jpg" width="380px">
  </a>
  <p>Joeun Aatchim</p>
</div>

<div class="thumbnail" id="t4">
  <a href="/static/Lippert_stop.jpg">
    <img src="/static/Lippert_stop.jpg" width="380px">
  </a>
<p>Anne Lippert</p>
</div>

<div class="thumbnail" id="t7">
  <a href="/static/darboven_ohne-titel.jpg">
    <img src="/static/darboven_ohne-titel.jpg" width="380px">
  </a>
  <p>Hanne Darboven</p>
</div>

<div class="thumbnail" id="t3">
  <a href="/static/holmqvist_skyline.jpg">
    <img src="/static/holmqvist_skyline.jpg" width="380px">
  </a>
  <p>Karl Holmqvist</p>
</div>









{% endblock %}