{% extends "base.html" %}
{% block content %}

 <div class="thumbnail" id="t2">
      <a href="/static/Kroker_music-as-organisationalprinciple.jpg">
        <img src="/static/Kroker_music-as-organisationalprinciple.jpg" width="380px">
      </a>
      <p>Mirjam Kroker</p>
    </div>


    <div class="thumbnail" id="t3">

      <a href="/static/CMZ_1601.jpg">
          <img src="/static/CMZ_1601.jpg" width="380px">
      </a>
    <p>Cambria McMillan-Zapf</p>
    </div>

    <div class="thumbnail" id="t4">

      <a href="/static/aatchim_biscuit_copy.jpg">
          <img src="/static/aatchim_biscuit_copy.jpg" width="380px">
      </a>
    <p>Joeun Aatchim</p>
    </div>

    <div class="thumbnail" id="t5">

      <a href="/static/holdhus_untitled.jpg">
        <img src="/static/holdhus_untitled.jpg" width="380px">
      </a>
      <p>Lars TCF Holdhus</p>
    </div>

    
    <div class="thumbnail" id="t6">

      <a href="/static/Lippert_stop_copy.jpg">
        <img src="/static/Lippert_stop_copy.jpg" width="380px">
      </a>
    <p>Anne Lippert</p>
    </div>

    <div class="thumbnail" id="t8">
    </div>

{% endblock %}