<head>
    <title>I'LL MAKE THE WORLD EXPLODE</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">1.6</div>

<div class="content-wrapper">
	<div class="poem-text">
		<h1>Karl Holmqvist<br>I'LL MAKE THE WORLD EXPLODE</h1>
		<br>
		<p>
			CORPORATE CANNIBAL<br>
			TREAT U LIKE AN ANIMAL<br>
			LIKE A HANNIBAL<br>
			LIKE A CLOWN<br>
			CORPORATE CANNIBAL<br>
			EXCUSE ME, WHILE I KISS<br>
			THIS GUY<br>
			THE HIDDEN LIES<br>
			GLASS BOX IN THE SKY<br>
			LIKE THE MOST NATURAL THING<br>
			IN THE WORLD<br>
			THE I’N’I<br>
			THE BATTLESHIP EARTH<br>
			4 WHAT IT’S WORTH<br>
			THE MOTHER PLANET<br>
			CORPORATE CANNIBAL<br>
			PRAY FOR ME<br>
			THE BODY OF CHRIST<br>
			PRAY FOR ME<br>
			THE BLOOD OF CHRIST<br>
			THE CHOSEN FEW<br>
			LIKE ME & U<br>
			WHO SAID SENDING OFF<br>
			PEOPLE 2 PRISON WAS<br>
			NORMAL?<br>
		<br>
			CORPORATE CANNIBAL<br>
			TREAT U LIKE A CRIMINAL<br>
			LIKE A HANNIBAL<br>
			SLAVE 2 THE RHYTHM<br>
			OF YR CORPORATE PRISON<br>
			PRAY FOR ME<br>
			CAN’T GET ENOUGH PREY<br>
			PRAY FOR ME<br>
			BATTY BOY<br>
			PRAY FOR ME<br>
			BOOM BATTY<br>
			BATTY BOY<br>
			BOOM BOOM BATTY<br>
			NEED TO STAY AWAY FROM<br>
			WE<br>
			HOPE IS THE LAST THING<br>
			THAT LEAVES<br>
			WHAT U NEED I DON’T WANT<br>
			WHAT U HAVE I CAN’T USE<br>
			GOSPELS OF GREED<br>
			SOMALI PIRATES<br>
			& PONZI SCHEMES<br>
		<br>
			PRIMITIVIST HIT LIST<br>
			ANTI-MATERIALIST BLISS<br>
			TELEVANGELIST HOT TIPS<br>
			HOW COME WE CAN’T ALL<br>
			JUST GET ALONG?<br>
			FIRST WILL B LAST<br>
			FUTURE WILL B PAST<br>
			NEED 2 STAY AWAY FROM<br>
			WE<br>
			TREAT OTHERS THE WAY<br>
			U YOURSELF WOULD LIKE 2<br>
			B TREATED<br>
			THE WORD MADE FLESH<br>
			BATTY BOY<br>
			HOPE IS THE LAST THING<br>
			THAT LEAVES<br>
			U WENT BACK 2 WHAT<br>
			U KNEW<br>
			& U DEAD HAND STRETCHING<br>
			PAYBACK THE GREEN<br>
			U STOLE 4 YR MONEY<br>
			& U DEAD HAND STRETCHING<br>
			U WENT BACK 2 WHAT<br>
			U KNEW<br>
			SO FAR REMOVED FROM<br>
			ALL THAT WE HAD BEEN<br>
			THU<br>
			FINAL UNFETTERING<br>
			& U DEAD HAND STRETCHING<br>
			PAYBACK THE REAL DEAL<br>
			BIRDS & THE BEES<br>
			PAYBACK THE TREES<br>
		<br>
			THOUSHALTNOTKILL<br>
			THOUWHATDOWILT<br>
		<br>
			CORPORATE CANNIBAL<br>
			TREAT U LIKE AN ANIMAL<br>
			LIKE A HANNIBAL<br>
			LIKE A PLANT<br>
			BATTY BOY<br>
			BOOM BOOM BATTY<br>
			VEGETABLES R PEOPLE TOO<br>
			NEED 2 STAY AWAY FROM<br>
			WE<br>
			THE CHOSEN FEW<br>
			THE WHO IS WHO?<br>
			THE YOUNG WILL B OLD<br>
			TALK 2 ME<br>
			BOUGHT WILL B SOLD<br>
			BATTY BOY<br>
			BOOM BOOM BABY<br>
			BOOM<br>
			TELL ME YR DREAMS<br>
			TELL ME YR STORY<br>
			AM I IN THEM?<br>
			BATTY BOY<br>
			BOOM BOOM BATTY<br>
			RICH WILL B POOR<br>
			IT'S A WAR<br>
		<br>
			THOUSHALTNOTKILL<br>
			THOUWHATDOWILT<br>
		<br>
			TREAT OTHERS THE WAY<br>
			U YOURSELF WOULD LIKE 2<br>
			B TREATED<br>
			TREAT OTHERS THE WAY<br>
			U YOURSELF WOULD LIKE 2<br>
			B TREATED<br>
			SHALL B THE WHOLE OF<br>
			THE LAW<br>
			MR & MRS SMITH<br>
			TOTALLY FAKING IT<br>
			SHALL B THE WHOLE OF<br>
			THE LAW<br>
			TIME OF THE ASSASSINS<br>
			BOOM BOOM BATTY<br>
			CORPORATE CANNIBAL<br>
			EAT U LIKE AN ANIMAL<br>
			LIKE A MANIMAL<br>
			LIKE A BEAST<br>
			I'M A MAN<br>
			BOOM BOOM BATTY<br>
			PRAY FOR ME<br>
			I'M A MAN<br>
			BOOM BABY BABY BOOM<br>
			CAN'T GET ENOUGH PREY<br>
			PRAY FOR ME<br>
			I'M A MAN, A MAN EATING<br>
			MACHINE<br>
			THE WORD MADE FLESH<br>
			HURRY UP & WAIT<br>
			OPEN UP & BLEED<br>
			PRAY FOR ME<br>
			KIDS WITH KIDS<br>
			IT'S A WAR<br>
			ONE CHILD PER HOUSEHOLD<br>
			THE BOOK OF LOVE<br>
			BOOK OF BOOKS<br>
			S P R E A D I N G THE WORD<br>
			MAKING YOURSELF HEARD<br>
			I'M A MAN<br>
			BOOM BOOM BABY<br>
			BOOM<br>
			I'M A MAN<br>
			CAN'T GET ENOUGH PREY<br>
			PRAY FOR ME<br>
			I'M A MAN, A MAN EATING<br>
			MACHINE<br>
			I'M A MAN, A MAN EATING<br>
			MACHINE<br>
			CAN'T GET ENOUGH PREY<br>
			PRAY FOR ME<br>
			I'M A MAN, A MAN EATING<br>
			MACHINE<br>
		<br>
			I NEVER COULD FUCK U<br>
			I NEVER COULD HOLD U<br>
			I NEVER COULD TOUCH U<br>
			HEY, HE-E-EY<br>
			YOU'RE A SOLDIER<br>
			I NEVER SHOULD HAVE<br>
			TOLD U, WHAT I TOLD U<br>
			HEY, HE-E-EY<br>
			WHAT U DO?<br>
		<br>
			I NEVER COULD FUCK U<br>
			I NEVER COULD HOLD U<br>
			I NEVER COULD TOUCH U<br>
			HEY, HE-E-EY<br>
			YOU'RE A SOLDIER<br>
			THE THIRD EYE<br>
			SOMEBODY ELSE'S GUY<br>
			I NEVER SHOULD HAVE<br>
			TOLD U, WHAT I TOLD U<br>
			HEY, HE-E-EY<br>
			IF THE HILLS COULD KILL<br>
			IF YR EYES COULD SMILE<br>
			OPEN UP & BLEED<br>
			SEE YR EYES SEE<br>
			FEEL YR HEART FEEL<br>
			THE VOID<br>
			GIVING VOICE 2 THE<br>
			VOICELESS<br>
			AN UNKNOWN SOLDIER<br>
			CALLING PEOPLE NAMES<br>
			MÉDECINS SANS FRONTIÈRES<br>
			SUPER TROOPERS<br>
			SOUL SINGER<br>
			DEAD RINGER<br>
			LIKE-A-LOOK CONTEST<br>
			SWINGER PICNIC<br>
			MR & MRS SMITH<br>
			TOTALLY FAKING IT<br>
			ANONYMOUS SEX<br>
			TIME OF THE ASSASSINS<br>
			SEE YR EYES SEE<br>
			FEEL YR HEART FEEL<br>
			SOUL SINGER<br>
			DEAD RINGER<br>
			MAKING YOURSELF HEARD<br>
			LIKE THE MOST NATURAL THING<br>
			IN THE WORLD<br>
			HE SAID, SHE SAID<br>
			THE MOTHER PLANET<br>
		<br>
			ENDING THE ENDLESS SEARCH<br>
			ON GOOGLE EARTH<br>
			GUITAR NOODLINGS<br>
			THE POODLE'S ESSENCE<br>
			BIRDS & BEES<br>
			WILD IN THE STREET<br>
			HOPE IS THE LAST THING<br>
			THAT LEAVES<br>
			THE DEVIL'S ADVOCATE<br>
			& U DEAD HAND STRETCHING<br>
			CALLING PEOPLE NAMES<br>
			U WENT BACK 2 WHAT<br>
			U KNEW<br>
			SO FAR REMOVED FROM<br>
			ALL THAT WE HAD BEEN<br>
			THRU<br>
			LES MAÎTRES FOUS<br>
			THE WHO IS WHO?<br>
			THE WITCHES' BREW<br>
			PAYBACK THE REAL DEAL<br>
			U STOLE 4 YR MONEY<br>
			SLAPSTICK MYSTICS WITH<br>
			STICKS<br>
			THE STATION MASTER<br>
			PAYBACK THE TREES<br>
			VEGETABLES R PEOPLE TOO<br>
			THE WHO IS WHO?<br>
			IF IT'S 4 FREE IT'S NOT<br>
			4 ME<br>
		<br>
			LAST NITE ON THE WAY 2 THE<br>
			POW-WOW<br>
			THE POW-WOW<br>
			CALLING PEOPLE NAMES<br>
			MURDER HAS ITS SEXUAL<br>
			SIDE<br>
			WHAT ABOUT HUMAN SACRIFICE?<br>
			ASSISTED SUICIDE?<br>
			CALLING PEOPLE NAMES<br>
			RITES OF PASSAGE<br>
			TREAT OTHERS THE WAY<br>
			U YOURSELF WOULD LIKE 2<br>
			B TREATED<br>
			CALLING PEOPLE NAMES<br>
			PRIMITIVIST HIT LIST<br>
			ANTI-MATERIALIST BLISS<br>
			THE DUDETUBE<br>
			WHEN THE PUSH COMES<br>
			2 SHOVE<br>
			WATER 2 WINE<br>
			PEARLS 2 THE SWINE<br>
			WEATHER UNDERGROUND<br>
		<br>
			VAMPIRE LESBIANS OF SODOM<br>
			SECRET SERVICE<br>
			BOOMERANG EFFECT<br>
			U AIN’T SEEN NOTHING, YET<br>
			GENDER BENDERS<br>
			BEGGARS’ BANQUET<br>
			LAZY LADY<br>
			LYDIA LUNCH<br>
			GOO-GOO-GA-JOOB<br>
			CALLING PEOPLE NAMES<br>
			PEEN-PEN-PENNY ARCADE<br>
			ARISTOTLE’S MISTAKE<br>
			GIVING THE ROBOT HAND<br>
			A HAND<br>
			REDRUM RIVERRUN<br>
			BRIDE OF FRANKENSTEIN<br>
			SLEEPING IN A CASKET<br>
		<br>
			LAST NITE ON THE WAY 2 THE<br>
			POW-WOW<br>
			THE POW-WOW<br>
			CROUCHING TIGER<br>
			HIDDEN DRAGON<br>
			CADAVRE EXQUIS<br>
			ROGER & ME<br>
			CALLING PEOPLE NAMES<br>
			MR & MRS SMITH<br>
			DR JEKYLL & MR HYDE<br>
			FROM THE OTHER SIDE<br>
			HEY, HE-E-EY<br>
			IF THE HILLS COULD KILL<br>
			IF YR EYES COULD SMILE<br>
				THE DUDETUBE<br>
			DISCOVERY CHANNEL<br>
			WHATEVER U DO UNTO ME<br>
			I LOST AN ARM<br>
			LOST AN EYE<br>
			THE LION KING LOOKING<br>
			4 A PARKING<br>
			THE BODY OF CHRIST<br>
			TREAT OTHERS THE WAY<br>
			U YOURSELF WOULD LIKE 2<br>
			B TREATED<br>
			DUDE, WHERE IS MY DUDE?<br>
			THE EMPEROR'S NAKED ARMY<br>
			MARCHES ON<br>
			IT’S A WAR<br>
			MAN VS NATURE<br>
			WOMAN VS ARCHITECTURE<br>
			CONSTRUCTION SITE<br>
				THE DUDETUBE<br>
			WHY IS DESIRE ALWAYS LINKED<br>
			2 CRIME?<br>
			MURDER, SHE WROTE<br>
			DESTROY, SHE SAID<br>
		<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			WHEN SPEAKING OF THE<br>
			DEVIL<br>
			THE WITCHES’ BREW<br>
			THE WHO IS WHO?<br>
			MEAT IS MURDER<br>
			VIVA HATE<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			ALLA BARN SKA HA RÄTT TILL<br>
			EN MAMMA OCH PAPPA<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			DJINNS, JEDIS & UFOS<br>
			GIVE IT UP 4 NAUGHTY<br>
			BY NATURE<br>
			THE LAST FLIGHT<br>
			FINAL COUNTDOWN<br>
			WITH COUSIN IT<br>
			BOARDING IT<br>
			SMALLEST OF MY BRETHREN<br>
			EVEN A BLIND HEN<br>
			THE DEAF & DUMB<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			MUDRACKER<br>
				FUDGEPUSHER<br>
			THE WITCHES’ BREW<br>
			THE WHO IS WHO?<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			THE MISSING LINK IS NOT<br>
			WHAT U THINK<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			SLEEP OF REASON PRODUCES<br>
			MONSTERS<br>
				THE DUDETUBE<br>
			DOING NOTHING IS DOING<br>
			SOMETHING TOO<br>
		<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			THE WHO IS WHO?<br>
			CALLING PEOPLE NAMES<br>
				MUDRACKER<br>
			ASS CRACK<br>
			LITTLE ORPHAN ANNIE<br>
			PROJECT RUNAWAY<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			IT’S THE GIFT THAT KEEPS ON<br>
			GIVING<br>
			CALLING PEOPLE NAMES<br>
			THE BOOK OF LOVE<br>
			BOOK OF BOOKS<br>
			S P R E A D I N G THE WORD<br>
			MAKING YOURSELF HEARD<br>
			THRU THE DUNGEON<br>
			THE CESSPOOL<br>
			THE WHITE NOISE<br>
			WEATHER UNDERGROUND<br>
			MEAT PACKING DISTRICT<br>
			PULL UP 2 THE BUMPER, BABY<br>
			DRIVE IT IN BETWEEN<br>
			SLEEPING IN A CASKET<br>
			THE GLORY HOLE<br>
			THE DANCING POLE<br>
			DO YOU REALLY WANT 2 LIVE<br>
			FOREVER?<br>
				AND EVER??<br>
				THE DUDETUBE<br>
			DISCOVERY CHANNEL<br>
			CALLING PEOPLE NAMES<br>
			A HANDSOME RANSOM<br>
			I’D RATHER GO BLIND LE PAIN QUOTIDIEN<br>
			SONGS 4 DRELLA<br>
			AT THE END OF THE BREADLINE<br>
			FROM THE BOTTOMS UP<br>
			TREAT U LIKE AN ANIMAL<br>
			SLAPSTICK MYSTICS<br>
			WITH STICKS<br>
			CALLING PEOPLE NAMES<br>
			THE BOOK OF LOVE<br>
			BOOK OF BOOKS<br>
			S P R E A D I N G THE WORD<br>
			MAKING YOURSELF HEARD<br>
			IT’S THE GIFT THAT KEEPS ON<br>
			GIVING<br>
			AS ABOVE SO BELOW<br>
			TIME OF THE ASSASSINS<br>
			FUZZY WUZZIES<br>
			WITH UZIS<br>
			PULL UP 2 THE BUMP, BABY<br>
			BUMP BABY LADY BUMP THE<br>
			BABY BUMP<br>
			PUMP & BUMP IT<br>
			DRIVE IT IN BETWEEN<br>
			IN YR BIG BLACK STRETCH<br>
			LIMO<br>
			WHO SAID SENDING OFF<br>
			PEOPLE 2 PRISON WAS<br>
			NORMAL?<br>
		<br>
			MORE COURAGE, LESS OIL<br>
			STOP, REPAIR PREPARE<br>
			IT’S A WAR<br>
			BETWEEN THE SEXES<br>
			EVERYWHERE IS WAR<br>
			ALL THE EXES<br>
			& YR NEED 4 MORE<br>
			ALWAYS MORE AMORE<br>
			PEOPLE R MAKING TOO MUCH<br>
			LOVE, THEY OUGHT 2 B<br>
			HAVING SEX<br>
			WAR 2 END ALL WARS<br>
			ALWAYS MORE & MORE<br>
			LA MORT C’EST LA MORT<br>
			PEOPLE R MAKING TOO MUCH<br>
			LOVE, THEY OUGHT 2 B<br>
			HAVING SEX<br>
			STOP, REPAIR PREPARE<br>
			COFFEE GENIE<br>
			SPILLING THE BEANS<br>
			IT’S NOT WHAT IT SEEMS<br>
			LOVERS+HATERS UNITE<br>
				DON’T GIVE UP<br>
			THE FIGHT<br>
			THE FIGHT, DON’T GIVE UP<br>
			THE FIGHT<br>
			THE GHOST SCRIBE<br>
		<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			ALLA BARN SKA HA RÄTT TILL<br>
			EN MAMMA OCH PAPPA<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			DJINNS, JEDIS & UFOS<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			DJINNS, JEDIS & UFOS<br>
			U GO BACK 2 HER<br>
			I’M LIKE REALLY BAD AT<br>
				REMEMBERING NAMES<br>
			DJINNS, JEDIS & UFOS<br>
			U GO BACK 2 HER<br>
			NURSE MILDRED RATCHED<br>
			THE MEDICINE MAN<br>
			CAN AS CAN CAN<br>
			U WENT BACK 2 WHAT<br>
			U KNEW<br>
			SO FAR REMOVED FROM<br>
			ALL THAT WE HAD BEEN<br>
			THRU<br>
			& I TREAD A TROUBLED<br>
			TRACK<br>
			MY ODDS R STACKED<br>
				WE ONLY SAID GOODBYE<br>
			WITH WORDS<br>
			I DIED A HUNDRED TIMES<br>
			U GO BACK 2 HER<br>
			& I GO BLACK 2 BACK<br>
			DJINNS, JEDIS & UFOS<br>
			MORE COURAGE, LESS OIL<br>
			IT’S A WAR<br>
			WAR 2 END ALL WARS<br>
			U GO BACK 2 HER<br>
			& I GO BLACK 2 BACK<br>
			COFFEE GENIE<br>
			THE GHOST SCRIBE<br>
			RUN & HIDE<br>
			GOO-GOO-GA-JOOB<br>
			BATS 4 LASHES<br>
			BOUGHT WILL B SOLD<br>
			YOUNG WILL B OLD<br>
			DOING AS YOU’RE<br>
			TOLD<br>
			END OF THE BREAD-LINE<br>
			FROM THE TOP DOWN<br>
			HUTUS & TUTSIES<br>
			DOING THE WATUSI<br>
			LOVETHINENEIGHBOR<br>
			& YOURSELF<br>
			LIKE EVERYONE ELSE<br>
			THE GOOD DEEDS<br>
			WEEDING OUT THE WEEDS<br>
			WOMEN WARRIORS<br>
			FALLING TREES<br>
			IN THE AMAZONIAN<br>
			RAIN FOREST<br>
			NO ONE CAN HEAR U SCREAM<br>
			DUDE, WHERE IS MY DUDE?<br>
			FUN 2 FUNKY<br>
			GOSPELS OF GREED<br>
			KLEPTOCRACIES<br>
			ANOTHER ONE BITES THE<br>
			DUST<br>
		<br>
			LOVE EVERYONE ELSE<br>
			& YOURSELF<br>
			FROM ALL YR HEART<br>
			EGO WARRIORS 2 THE STARS<br>
			PEOPLE UNDER THE STAIRS<br>
			THE WEEPING WALL INSIDE US<br>
			ALL<br>
			WE SHALL OVERCOME<br>
			WE SHALL FIND LOVE<br>
			4 EVERYONE<br>
			I AM HE AS U R WE<br>
			& HE & SHE & US & THEM<br>
			HE IS HER & SHE & WHAT?<br>
			& WHO R U & WHODUNNIT?<br>
			GOO-GOO-GA-JOOB<br>
			THE WHO IS WHO?<br>
			CALLING PEOPLE NAMES<br>
			SEPARATION OF CHURCH<br>
			& STATE<br>
			PLAYBACK THE REAL DEAL<br>
			U STOLE 4 YR MONEY<br>
			IT’S CALLED BE INVITATION<br>
			BY INVITATION, DAHLING<br>
			MUTUAL CONSENT<br>
			2 YR HEART’S CONTENT<br>
			BIRDS & THE BEES<br>
			PAYBACK THRU YR TEETH<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		</p>
	</div>
</div>

{% endblock %}
