<head>
    <title>From IN OTHER WORLDS: ESSAYS IN CULTURAL POLITICS - GAYATRI SPIVAK</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">2.0</div>

<div class="content-wrapper">
	<div class="essay-text">
		<p style="line-height: 14px">Everyone reads life and the world like a book. Even the so-called ‘illiterate.’ But especially the ‘leaders’ of our society, the most ‘responsible’ nondreamers: the politicians, the businessmen, the ones who make plans. Without the reading of the world as a book, there is no prediction, no planning, no taxes, no laws, no welfare, no war. Yet these leaders read the world in terms of rationality and averages, as if it were a text-book. The world actually writes itself with the many-leveled, unfixable intricacy and openness of a work of literature...</p>
		<br>
		<p class="endnote">— Gayatri Spivak, in response to a student who asked, "It's all very well to try to live like a book; but what if no one else is prepared to read? What if you are dismissed as an irresponsible dreamer?" in: Spivak, <em>In Other Worlds: Essays in Cultural Politics</em>, Chapter 6. "Reading the World: Literary Studies in the Eighties" (New York and London: Methuen, 1987), p. 95.</p><br>
	</div>
</div>

{% endblock %}
