{% extends "base.html" %}
{% block content %}
  <div class="content">

    <div class="thumbnail" id="t1">
        <a href="/static/holmqvist_skyline.jpg">
          <img src="/static/holmqvist_skyline.jpg" width="380px">
        </a>
      </div>

    <div class="thumbnail" id="t2">
      <a href="/static/gillard_word_chords_2.jpg">
        <img src="/static/gillard_word_chords_2.jpg" width="380px">
      </a>
    </div>

    <div class="thumbnail" id="t3">
      <a href="/static/mirjam_music.jpg">
        <img src="/static/mirjam_music.jpg" width="380px">
      </a>
    </div>

    <div class="thumbnail" id="t4">
      <a href="/static/Emmett_Williams_LikeAttractLike.jpg">
        <img src="/static/Emmett_Williams_LikeAttractLike.jpg" width="380px"> 
      </a>
    </div>

    <div class="thumbnail" id="t5">
      <a href="/static/Emmett_Williams_CENSORED.jpg">
        <img src="/static/Emmett_Williams_CENSORED.jpg" width="380px">
      </a>
    </div>

    <div class="thumbnail" id="t6">
      <a href="/static/mueller_language_to_cover_a_page_2.jpg">
        <img src="/static/mueller_language_to_cover_a_page_2.jpg" width="380px">
      </a>
    </div>

    <div class="thumbnail" id="t7">
      <a href="/static/mallarme_un_coup.jpg">
        <img src="static/mallarme_un_coup.jpg" width="380px">
      </a>
    </div>

    <div class="thumbnail" id="t8">
      <a href="/static/carl_andre_poem.jpg">
        <img src="/static/carl_andre_poem.jpg" width="380px">
      </a>
    </div>

    <div class="thumbnail" id="t9">
      <a href="/static/belloli.gif">
        <img src="/static/belloli.gif" width="380px">
      </a>
    </div>

    
    <div class="thumbnail" id="t10">
      <a href="/static/darboven_ohne_titel.jpg">
        <img src="static/darboven_ohne_titel.jpg" width="380px">
      </a>
    </div>
  </div>
{% endblock %}