{% extends "base.html" %}
{% block content %}

<div class="mixtape_div">

    <br>
    <br>
    <br>
    <br>
    <p> TEXTS </p>
    <p><a href="/demo">Bryony Gillard, An Exploration of Verbivocovisual Borders and Margins</a></li></p>
    <p><a href="/demo2">Rob Arcand, Design As Contemporary Protest</a></p>
    <p><a href="/demo3">Kurt Eidsvig, Mixed Messages</a></p>
    <p><a href="/demo4">Simon Roloff, How To Do Things With DOCS</a></p>

    <br>
    <br>

    <p> MIXTAPES </p>
    <p><a href="https://soundcloud.com/documnt/mixtape-01-sinosc" target="_blank">SINOSC</a></li></p>
    <p><a href="https://soundcloud.com/documnt/mixtape-02-claire-d" target="_blank">CLAIRE D.</a></p>
    <p><a href="https://soundcloud.com/documnt/mixtape-03-health" target="_blank">HEALTH</a></p>
    <p><a href="https://soundcloud.com/documnt/mixtape-04-sho" target="_blank">SHO</a></li></p>
    <p><a href="https://soundcloud.com/documnt/mixtape-05-kurort-spandau" target="_blank">KURORT SPANDAU</a></li></p>
    <p><a href="https://soundcloud.com/documnt/mixtape-06-ben-ko" target="_blank">BEN K.O.</a></li></p>
    <p><a href="https://soundcloud.com/documnt/mixtape-07-paul-seidler" target="_blank">PAUL SEIDLER</a></li></p>
    <br>
    <br>
    <p>PEOPLE</p>
    <p><a href="/">Anne Lippert</a></p>
    <p><a href="/">Austin Webb</a></p>
    <p><a href="/">Ben K.O.</a></p>
    <p><a href="/">Bryony Gillard</a></p>
    <p><a href="/">Cambria McMillan-Zapf</a></p>
    <p><a href="/">Duncan Anderson</a></p>
    <p><a href="/">Jared Golant</a></p>
    <p><a href="/">Jeoun Aatchim</a></p>
    <p><a href="/">Jed Fielder</a></p>
    <p><a href="/">Karl Holmqvist</a></p>
    <p><a href="/">Kurt Eidsvig</a></p>
    <p><a href="/">Lars Holdhus</a></p>
    <p><a href="/">Matt Arnold</a></p>
    <p><a href="/">Mirjam Kroker</a></p>
    <p><a href="/">Nick Tobat</a></p>
    <p><a href="/">Patricia Serna</a></p>
    <p><a href="/">R. Prost</a></p>
    <p><a href="/">Simon Roloff</a></p>
    <p><a href="/">Quint Guvernator</a></p>
    <p><a href="/">Wade Hodson</a></p>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>

{% endblock %}