{% extends "base.html" %}
{% block content %}

	<div class="text_content">
      <p>DOCUMNT1 Release Date: 25/03/17 <a href="https://www.facebook.com/events/245156829266608/" target="_blank">Party</a> ACUD MACHT NEU Studio, Veteranenstr. 21 Berlin</p> 
    </div>

    <!-- <div class="issue-preview">

    </div> -->

    <div class="text_content">

      <a href="/static/prev1.png">
          <img src="/static/prev1.png" width="100%">
      </a>
      <a href="/static/prev2.png">
          <img src="/static/prev2.png" width="100%">
      </a>
      <a href="/static/prev3.png">
          <img src="/static/prev3.png" width="100%">
      </a>
      <a href="/static/prev4.png">
          <img src="/static/prev4.png" width="100%">
      </a>
      <a href="/static/prev5.png">
          <img src="/static/prev5.png" width="100%">
      </a>
      <a href="/static/prev6.png">
          <img src="/static/prev6.png" width="100%">
      </a>
      <a href="/static/prev7.png">
          <img src="/static/prev7.png" width="100%">
      </a>

    </div>

{% endblock %}