{% extends "base.html" %}
{% block content %}

<div class="text_content">
  <a href="/static/prev1.jpg"><img src="/static/prev1.jpg" width="470px"></a>
  <a href="/static/prev2.jpg"><img src="/static/prev2.jpg" width="470px"></a>
</div>

<div class="D2_opencall_text">
  <p>DOCUMNT1 Release Date: 25/03/17 </p>
  <p><a href="https://www.facebook.com/events/245156829266608/" target="_blank">Event</a> @ ACUD MACHT NEU Studio (Berlin)</p> 
  <br>
  <p><a href="https://www.dropbox.com/s/dz68gwi5vere7e2/DOCUMNT1%2BPDF%2BSCAN.pdf?dl=0" target="_blank">PDF</a> full scan of the book</p>
  <p><a href="https://docs.google.com/document/d/1UttmIMhKY-R5JM2G4zdZY_FCV2WX0EHZnHrfzOEpNbM/edit?usp=sharing" target="_blank">G-DOC</a> text only</p>
  <br>
  <p>Find in:</p>
  <p><a href="http://www.mottodistribution.com/shop/documnt-1.html" target="_blank">Motto Books</a> (Berlin)</p>
  <p>Do You Read Me?!  (Berlin)</p>
  <p>Echo Bücher (Berlin)</p>
  <p>Papier und Gelb (Düsseldorf)</p>
  <p><a href="http://orbookstore.orgallery.org/post/160096421146/new-arrival-documnt1" target="_blank">Or Gallery</a> (Vancouver)</p>
  <p>READ Books (Vancouver)</p>
  <br>
  <p>Exhibitions:</p>
  <p>Artists' Books for Everything</p>
  <p>An exhibition of the Centre for Artists' Publications</p>
  <p>June 3rd - August 6th, 2017</p>
  <p>Centre for Artists' Publications / Weserburg</p>
  <p>Teerhof 20</p>
  <p>28199 Bremen</p>
  <p>Opening: June 2nd, 2017, 7:00pm</p>
</div>

{% endblock %}