{% extends "base.html" %}
{% block content %}

	<div class="text_content">
      <p>DOCUMNT1 Release Date: 25/03/17 <a href="https://www.facebook.com/events/245156829266608/" target="_blank">Party</a> ACUD MACHT NEU Studio, Veteranenstr. 21 Berlin</p> 
      <p><a href="https://www.dropbox.com/s/dz68gwi5vere7e2/DOCUMNT1%2BPDF%2BSCAN.pdf?dl=0" target="_blank">PDF</a> scan of book</p>
      <p><a href="https://docs.google.com/document/d/1UttmIMhKY-R5JM2G4zdZY_FCV2WX0EHZnHrfzOEpNbM/edit?usp=sharing" target="_blank">G-DOC</a> text only</p>
      <br>
      <p>Find in:</p>
      <p><a href="http://www.mottodistribution.com/shop/documnt-1.html" target="_blank">Motto Books</a> (Berlin)</p>
      <p>Do You Read Me?!  (Berlin)</p>
    </div>

    <!-- <div class="issue-preview">

    </div> -->

    <div class="text_content">

      <a href="/static/prev1.jpg">
          <img src="/static/prev1.jpg" width="100%">
      </a>
      <a href="/static/prev2.jpg">
          <img src="/static/prev2.jpg" width="100%">
      </a>
      <a href="/static/prev3.jpg">
          <img src="/static/prev3.jpg" width="100%">
      </a>
      <a href="/static/prev4.jpg">
          <img src="/static/prev4.jpg" width="100%">
      </a>
      <a href="/static/prev5.jpg">
          <img src="/static/prev5.jpg" width="100%">
      </a>
      <a href="/static/prev6.jpg">
          <img src="/static/prev6.jpg" width="100%">
      </a>
      <a href="/static/prev7.jpg">
          <img src="/static/prev7.jpg" width="100%">
      </a>

    </div>

{% endblock %}