<head>
    <title>DOCUMNT MIXTAPE 14</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-14-wunderwaffel" target="_blank"><img class="mixtape-img" src="/static/mixtape14.jpg"></a>
	<p class="mixtape-title">MIXTAPE 14: WUNDERWAFFEL<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>

<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/325031229&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Egisto Macchi: L'Eco Delle Gole<br>
		2. Mechthild Von Leusch: Rungholter Totentanz<br>
		3. Andres Lewin-Richter: Study No. 1<br>
		4. Lesiman: Obsession<br>
		5. Louise Huebner: The Coleopterous Charm For Romantic Adventure<br>
		6. Nurse With Wound: Untitled 1 (from Images/Zero Mix)<br>
		7. Nino Nardini: Storm Clouds<br>
		8. John Barry: Oktober - Walk From The River<br>
		9. Andrés Lewin-Richter: Pulsar<br>
		10. Chene Noir: Les Oiseaux<br>
		11. Piero Umiliani: Pulzationit<br>
		12. Ennio Morricone: Un Tranquillo Posto Di Campagna (#8)<br>
		13. Woody Leafer: Drums In My Typewriter<br>
		14. Mechthild Von Leusch: Rungholter Tanz 10<br>
		15. Phillip Werren: Whale Piece<br>
		16. The Creed Taylor Orchestra: Gloomy Sunday<br>
		17. Roger Roger: Bolero Chinois<br>
		18. Tom Recchion: Flying Weather<br>
		19. Otto Luening: Fantasy In Space<br>
		20. Peppino De Luca & I Marc 4: Metronomo Della Morte<br>
		21. Werkbund: Allseele<br>
		22. The Creed Taylor Orchestra: The Cranc<br>
		23. Otto Luening And Vladimir Ussachevsky: Incantation<br>
		24. Vladimir Ussachevsky: Piece For Tape Recorder<br>
		25. Psychophysicist: PSR .833-45 16.65 Mg Htz<br>
		26. Mort Garson: Music To Soothe The Savage Snake Plant<br>
		27. Louise Huebner: The Earthquake Spell For Unwanted<br>
		28. Asmus Tietchens: Wind ohne Wetter<br>
		29. Raskovich: Alpha Gamma<br>
		30. Steve Maxwell Von Braund - Shadowfax<br>
		31. P16.D4: Hammer/Zange/Hebel<br>
		32. Hirsche Nicht Aufs Sofa: Ganz unverbindlich<br>
		33. Asmus Tietchens: Litia<br>
		34. Colin Potter: Knit Where?<br>
		35. Roger Roger: Sound Industrial 12<br>
		36. Egisto Macchi: La Memoire<br>
		37. Egisto Macchi: Chanson De Matin<br>
		38. Louise Huebner: Witches And Wizards<br>
		39. John Barry: Wednesday's Child - Main Theme
	</p>
</div>

{% endblock %}