<head>
    <title>DOCUMNT MIXTAPE 04</title>
    <style>
        .index-wrapper { 
            display: none;
        }
        .index-text-left {
            display: none;
        }
    </style>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">04</div> -->

<div class="mixtape-index-wrapper">
    <div class="mixtape-index-text-left" style="font-size: 12px; padding-top: 10px">
        <br><br><br>
        <p>MIXTAPE 17: <a href="/mixtape17">GHOST SHRINE</a></p>
        <p>MIXTAPE 16: <a href="/mixtape16">レイン</a></p>
        <p>MIXTAPE 15: <a href="/mixtape15">KL.NE</a></p>
        <p>MIXTAPE 14: <a href="/mixtape14">WUNDERWAFFEL</a></p>
        <p>MIXTAPE 13: <a href="/mixtape13">ZOND</a></p>
        <p>MIXTAPE 12: <a href="/mixtape12">MXG</a></p>
        <p>MIXTAPE 11: <a href="/mixtape11">LORD BYRON STYROPOR</a></p>
        <p>MIXTAPE 10: <a href="/mixtape10">ANNA ADAMS</a></p>
        <p>MIXTAPE 09: <a href="/mixtape09">ARTETETRA RECORDS</a></p>
        <p>MIXTAPE 08: <a href="/mixtape08">TRAGEDIJA U STEGLITZU</a></p>
        <p>MIXTAPE 07: <a href="/mixtape07">PAUL SEIDLER</a></p>
        <p>MIXTAPE 06: <a href="/mixtape06">BEN K.O.</a></p>
        <p>MIXTAPE 05: <a href="/mixtape05">KURORT SPANDAU</a></p>
        <p>MIXTAPE 04: <a href="/mixtape04">SHŌ</a></p>
        <p>MIXTAPE 03: <a href="/mixtape03">HEALTH</a></p>
        <p>MIXTAPE 02: <a href="/mixtape02">CLAIRE D.</a></p>
        <p>MIXTAPE 01: <a href="/mixtape01">SINOSC</a></p>
    </div>
</div>

<div class="content-wrapper">
    <div class="art-content">
            <a href="https://soundcloud.com/documnt/mixtape-04-sho" target="_blank"><img class="mixtape-img" src="/static/mixtape04.jpg"></a>
            <div class="tracklist">
                <p>1. Shō: Dreams Less Sweet<br>
                    2. Rainforest Spiritual Enslavement: Homes Built Over The Sea <br>
                    3. Lunar Aurora: Im Gartn <br>
                    4. Tim Hecker: Amps, Drugs, Mellotron<br>
                    5. Olhon: R.O.V. Mercurio (-210 m)<br>
                    6. The Conet Project:(G20) Spruchnummer 1<br>
                    7. The Conet Project: (G18) 8 Note Rising Scale<br>
                    8. Cyclobe: Sleeper: The Blue Towers, The Copper Bells, Ghost Ribbon, The Unknowable Index <br>
                    9. IRM: Closure I<br>
                    10. Grunt: Dog In The Leash Pt.1<br>
                    11. Blawan: His Daughters <br>
                    12. Demdike Stare: Past Majesty<br>
                    13. Peder Mannerfelt: STROBB<br>
                    14. Kenji Kawai: M01謡I-Making Of Cyborg
                </p>
            </div>
    </div>
</div>

<div class="single-mixtape">
    <iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257987514&amp;color=%23000000&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
	<!-- <iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257987514&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe> -->
</div>

{% endblock %}