<head>
    <title>DOCUMNT MIXTAPE 11</title>
    <style>
        .index-wrapper { 
            display: none;
        }
        .index-text-left {
            display: none;
        }
    </style>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">11</div> -->

<div class="mixtape-index-wrapper">
    <div class="mixtape-index-text-left" style="font-size: 12px; padding-top: 10px">
        <br><br><br>
        <p>MIXTAPE 17: <a href="/mixtape17">GHOST SHRINE</a></p>
        <p>MIXTAPE 16: <a href="/mixtape16">レイン</a></p>
        <p>MIXTAPE 15: <a href="/mixtape15">KL.NE</a></p>
        <p>MIXTAPE 14: <a href="/mixtape14">WUNDERWAFFEL</a></p>
        <p>MIXTAPE 13: <a href="/mixtape13">ZOND</a></p>
        <p>MIXTAPE 12: <a href="/mixtape12">MXG</a></p>
        <p>MIXTAPE 11: <a href="/mixtape11">LORD BYRON STYROPOR</a></p>
        <p>MIXTAPE 10: <a href="/mixtape10">ANNA ADAMS</a></p>
        <p>MIXTAPE 09: <a href="/mixtape09">ARTETETRA RECORDS</a></p>
        <p>MIXTAPE 08: <a href="/mixtape08">TRAGEDIJA U STEGLITZU</a></p>
        <p>MIXTAPE 07: <a href="/mixtape07">PAUL SEIDLER</a></p>
        <p>MIXTAPE 06: <a href="/mixtape06">BEN K.O.</a></p>
        <p>MIXTAPE 05: <a href="/mixtape05">KURORT SPANDAU</a></p>
        <p>MIXTAPE 04: <a href="/mixtape04">SHŌ</a></p>
        <p>MIXTAPE 03: <a href="/mixtape03">HEALTH</a></p>
        <p>MIXTAPE 02: <a href="/mixtape02">CLAIRE D.</a></p>
        <p>MIXTAPE 01: <a href="/mixtape01">SINOSC</a></p>
    </div>
</div>

<div class="content-wrapper">
    <div class="art-content">
            <a href="https://soundcloud.com/documnt/mixtape-11-lord-byron-styropor" target="_blank"><img class="mixtape-img" src="/static/mixtape11.jpg"></a>
            <div class="tracklist">
                <p> 1. Shinobi inu: Clear<br>
                    2. GAIKA: Security (feat. Fallacy and Gretz)<br>
                    3. Yung Internet: Crimb<br>
                    4. These Hidden Hands: These Moments Dismantled (feat. Lucrecia Dalt)<br>
                    5. coucou chloé: Touched ft. lala<br>
                    6. Isis Scott: AmenoHa x Work Bitch Edit<br>
                    7. Sd Laika: Spaceman piff<br>
                    8. clipping.: Dominoes<br>
                    9. Isis Scott: Poppin Pills With Beyonce & Nicki<br>
                    10. G_H: Earth<br>
                    11. Magma Trakt: Među nama<br>
                    12. G_H: Housebound_Demigod<br>
                    13. Emptyset: Len<br>
                    14. Mαḋεṃαṉ: Selfdefense<br>
                    15. OG Maco: Want More<br>
                    16. N8NOFACE: MISERY<br>
                    17. Yoshitaka Hikawa: LTV<br>
                    18. Silvana Imam: Imam Cobain<br>
                    19. LSDXOXO: R e c h u r a_<br>
                    20. MY DISCO: 1991 (Lustmord 20-20 Mix) (played extremly fast)
                </p>
             
            </div>
    </div>
</div>

<div class="single-mixtape">
    <iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/314138273&amp;color=%23484848&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
    <!-- <iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/314138273&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe> -->
</div>


{% endblock %}