<head>
    <title>DOCUMNT MIXTAPE 02</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-02-claire-d" target="_blank"><img class="mixtape-img" src="/static/mixtape02.jpg"></a>
	<p class="mixtape-title">MIXTAPE 02: CLAIRE D.<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/238805456&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Bestial Mouths: Faceless (Funerals Remix)<br>
        2. Kan3da: Bangabnungo<br>
        3. Powell: Club Music (Ancient Methods Körpersäure 91 Remix)<br>
        4. Front Line Assembly: Mindphaser<br>
        5. Front 242: Work 01<br>
        6. An-i: Mutter <br>
        7. Helena Hauff: L'homme mort<br>
        8. Cosby: Veil (Club Scene)<br>
        9. Gesloten Cirkel: Feat. Liette<br>
        10. Von Spar: Jon Voight<br>
        11. Red Axes: Shem<br>
        12. Lucy Cliche: Smash<br>
        13. Helena Hauff: Hiemal Quietus
    </p>
</div>

{% endblock %}