<head>
    <title>DOCUMNT MIXTAPE 05</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-05-kurort-spandau" target="_blank"><img class="mixtape-img" src="/static/mixtape05.jpg"></a>
	<p class="mixtape-title">MIXTAPE 05: KURORT SPANDAU<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/260246029&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Waterworld: Yoshi’s Soul<br>
        2. Jon Hassell: Empire V<br>
        3. Karamika: Ton 02<br>
        4. Ondness: Hobo Pwe<br>
        5. Contact Field Orchestra: On The Autumn Sea <br>
        6. Monte: Lava<br>
        7. Midori Takada: Mr. Henri Rousseau’s Dream <br>
        8. William Hoskins: Drum Chime<br>
        9. James Harpham: Voodoo Tronics 2<br>
        10. Poplar Bluff: Orphan Nexus<br>
        11. Magnétophonique: Quiet Village<br>
        12. Sunhiilow: Astral Asteroidea <br>
        13. Nicola Ratti: W10<br>
        14. Dolphins Into The Future: Jardim Dos Tufaos<br>
        15. Waterworld: Yoshi’s Reprise
    </p>
</div>

{% endblock %}