<head>
    <title>DOCUMNT MIXTAPE 13</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-13-zond" target="_blank"><img class="mixtape-img" src="/static/mixtape13.jpg"></a>
	<p class="mixtape-title">MIXTAPE 13: ZOND<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/323027924&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Thomas Köner: Nunatak<br>
        2. Gondwana: A Gospel Of Dirt<br>
        3. Valerio Tricoli: In The Eye Of The Cyclone <br>
        4. Scheich in China: Untitled<br>
        5. Kassel Jaeger & Giuseppe Ielasi: Greyscale<br>
        6. Spoils & Relics: Sins of Omission<br>
        7. Mika Vainio & Sean Booth: Mika & Kouhei 11th June 2008<br>
        8. Thomas Ankersmit: Untitled<br>
        9. Mika Vainio: Voisin Olla Vanha Mies Huoltamon Pihassa<br>
        10. Scott Gibbons & Lilith: Stone: Reciprocal<br>
        11. Ditterich von Euler-Donnersperg: Die Truhe Im Fluss #4<br>
        12. Body Sculptures: Feet Into Soil
    </p>
</div>

{% endblock %}