<head>
    <title>DOCUMNT MIXTAPE 10</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-10-anna-adams" target="_blank"><img class="mixtape-img" src="/static/mixtape10.jpg"></a>
	<p class="mixtape-title">MIXTAPE 10: ANNA ADAMS<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/308014238&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>01. Nthng: In My Dreams (Lobster Theremin, 2016)<br>
        02. Günter Karpa: Wunderland bei Nacht (33 rpm) (Amiga, 1952)<br>
        03. Füxa: Dream (Don't Give Up) (Emotional Response, 2014)<br>
        04. SHDW & Obscure Shape: Die Macht des Schicksals (From Another Mind, 2016)<br>
        05. Daze: Leisure Complex (Unknown To The Unknown, 2016)<br>
        06. Gianluca Petrella: 103 (electronique.it, 2015)<br>
        07. Benedikt Frey: Portal (MRT, 2015)<br>
        08. Cornflakes 808: Evil House (Ghost Track) (J.A.M. Traxx, 2013)<br>
        09. Gina X Performance: Hypnosis / Hypnose (EMI, 1981)<br>
        10. Alchemy Of The 20th Century: 1.-3.-10.1996 (Bawler Productions, 1997)<br>
        11. Rattler Proxy: McReady's Blues (Lurid, 2014)<br>
        12. Mistress Mix And Psychic TV: Je T'aime (Menstrual Mix) (Temple Records, 1989)<br>
        13. Visonia: The Amethyst City (Electronic Emergencies, 2016)<br>
        14. Bestial Mouths: Earth (Greenlander Remix) (Clan Destine, 2014)<br>
        15. Zwischenfall: Flucht '84 (33 rpm) (1984/ Dark Entries, 2016)<br>
        16. Bestial Mouths: Movement (Dalhous Remix) (Clan Destine, 2014)
    </p>
</div>

{% endblock %}