<head>
    <title>DOCUMNT MIXTAPE 03</title>
    <style>
        .index-wrapper { 
            display: none;
        }
        .index-text-left {
            display: none;
        }
    </style>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">03</div> -->

<div class="mixtape-index-wrapper">
    <div class="mixtape-index-text-left" style="font-size: 12px; padding-top: 10px">
        <br><br><br>
        <p>MIXTAPE 16: <a href="/mixtape16">レイン</a></p>
        <p>MIXTAPE 15: <a href="/mixtape15">KL.NE</a></p>
        <p>MIXTAPE 14: <a href="/mixtape14">WUNDERWAFFEL</a></p>
        <p>MIXTAPE 13: <a href="/mixtape13">ZOND</a></p>
        <p>MIXTAPE 12: <a href="/mixtape12">MXG</a></p>
        <p>MIXTAPE 11: <a href="/mixtape11">LORD BYRON STYROPOR</a></p>
        <p>MIXTAPE 10: <a href="/mixtape10">ANNA ADAMS</a></p>
        <p>MIXTAPE 09: <a href="/mixtape09">ARTETETRA RECORDS</a></p>
        <p>MIXTAPE 08: <a href="/mixtape08">TRAGEDIJA U STEGLITZU</a></p>
        <p>MIXTAPE 07: <a href="/mixtape07">PAUL SEIDLER</a></p>
        <p>MIXTAPE 06: <a href="/mixtape06">BEN K.O.</a></p>
        <p>MIXTAPE 05: <a href="/mixtape05">KURORT SPANDAU</a></p>
        <p>MIXTAPE 04: <a href="/mixtape04">SHŌ</a></p>
        <p>MIXTAPE 03: <a href="/mixtape03">HEALTH</a></p>
        <p>MIXTAPE 02: <a href="/mixtape02">CLAIRE D.</a></p>
        <p>MIXTAPE 01: <a href="/mixtape01">SINOSC</a></p>
    </div>
</div>

<div class="content-wrapper">
    <div class="art-content">
            <a href="https://soundcloud.com/documnt/mixtape-03-health" target="_blank"><img class="mixtape-img" src="/static/mixtape03.jpg"></a>
            <div class="tracklist">
                <p>1. Éliane Radigue: Stress-Osaka<br>
                    2. Peter Gordon & Lawrence Weiner: Deutsche Angst<br>
                    3. Senking: Serpent<br>
                    4. Heroin in Tahiti: Spinalonga<br>
                    5. Z'ev: Wipe Out<br>
                    6. Asmus Tietchens: Ritual der kranken Freude<br>
                    7. HysM?Duo: Small Universes<br>
                    8. Nicola Tirabasso: Landscape Suicide<br>
                    9. Sunn O))): BP//Simple<br>
                    10. Factory Floor ft. Peter Gordon: Beach combing<br>
                    11. Terry Riley: A Rainbow in Curved Air<br>
                    12. The Rah Band: Messages From the Stars
                </p>
            </div>
    </div>
</div>

<div class="single-mixtape">
    <iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253776416&amp;color=%23000000&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
	<!-- <iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253776416&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe> -->
</div>

{% endblock %}