<head>
    <title>DOCUMNT MIXTAPE 08</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-08-tragedija-u-steglitzu" target="_blank"><img class="mixtape-img" src="/static/mixtape08.png"></a>
	<p class="mixtape-title">MIXTAPE 08: TRAGEDIJA U STEGLITZU<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/293601943&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Haptic: Sum (Entr'acte / Absurd, 2007)<br>
        2. Natascha Sadr Haghighian And Rashad Becker: Play:Display (Part 1) (Apparent Extent, 2014)<br>
        3. Éric La Casa: L'Inspir Du Rivage Part 2 (Povertech Industries, 1999)<br>
        4. Stefan Römer: Die Erweiterung Des Alphabets (LAUREL Productions, 1988)<br>
        5. Dennis Loesch: .aiff (Stadl, 2004)<br>
        6. Matthias Scholten: Stanley (Stadl, 2005)<br>
        7. Stabat Mors: Fraktale 1 (Psych.KG / Kafue Systeme, 2008)<br>
        8. Claus Böhmler: Chers Amis Du Meubler Perdu, Chers Auditeurs! (Edition Block, 1986)
    </p>
</div>

{% endblock %}