<head>
    <title>DOCUMNT MIXTAPE 07</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-07-paul-seidler" target="_blank"><img class="mixtape-img" src="/static/mixtape07.png"></a>
	<p class="mixtape-title">MIXTAPE 07: PAUL SEIDLER<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/270098722&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Britney Spears: I'M A SLAVE 4 U (Acapella) (Set Edit)<br>
        2. Vanilla Hammer: Crabskin (kanyon Mishap)<br>
        3. Rabit - Trapped in This Body (darkmatter edit)<br>
        4. quebrus - ⊶⊚⊖⬚⊟⊑∷༜⊚༜∷⊒⊞⬚⊖⊚⊷<br>
        5. Ultramiedo - Alien Extruder<br>
        6. Shyqa - Predator’s Test<br>
        7. Alfred English - piston (tropical interface remix)<br>
        8. d-n-e - Nothing of Nature<br>
        9. Zui - Zora Jones<br>
        10. Dane Law - United with The Sadness in Your Eyes<br>
        11. WWWINGS - OBSCURE (FT. HNRK & DJ HEROIN)<br>
        12. Subhumanizer - Lost In The Digital Labyrinth<br>
        13. Baby Blue - NOTHING CAN STOP US<br>
        14. That poeribbon idiot on twitter - чертовски мертвих<br>
        15. serpai - oni-chan<br>
        16. DJ Alina - БЕЗСМЕРТНИЙ<br>
        17. Sensational Meets Kouhei - Sensachre 10 Mix (Autechre Remix)<br>
        18. ▉▉▒▒█▎l▓░▉ＣＨＬＯＲＩＮＥ - Wyh
    </p>
</div>

{% endblock %}