<head>
    <title>DOCUMNT MIXTAPE 04</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-04-sho" target="_blank"><img class="mixtape-img" src="/static/mixtape04.jpg"></a>
	<p class="mixtape-title">MIXTAPE 04: SHŌ<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/257987514&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Shō: Dreams Less Sweet<br>
        2. Rainforest Spiritual Enslavement: Homes Built Over The Sea <br>
        3. Lunar Aurora: Im Gartn <br>
        4. Tim Hecker: Amps, Drugs, Mellotron<br>
        5. Olhon: R.O.V. Mercurio (-210 m)<br>
        6. The Conet Project:(G20) Spruchnummer 1<br>
        7. The Conet Project: (G18) 8 Note Rising Scale<br>
        8. Cyclobe: Sleeper: The Blue Towers, The Copper Bells, Ghost Ribbon, The Unknowable Index <br>
        9. IRM: Closure I<br>
        10. Grunt: Dog In The Leash Pt.1<br>
        11. Blawan: His Daughters <br>
        12. Demdike Stare: Past Majesty<br>
        13. Peder Mannerfelt: STROBB<br>
        14. Kenji Kawai: M01謡I-Making Of Cyborg
    </p>
</div>

{% endblock %}