<head>
    <title>DOCUMNT MIXTAPE 01</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-01-sinosc" target="_blank"><img class="mixtape-img" src="/static/mixtape01.jpg"></a>
	<p class="mixtape-title">MIXTAPE 01: SINOSC<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/236993486&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Alinoe: II (Outro)<br>
	    2. Kiyoko: Track 2<br>
	    3. Ametsub: Repeatedly (Video Edit)<br>
	    4. We Will Fail: Verstörung v.07<br>
	    5. Klive: Sweaty Psalms<br>
	    6. Farben: Loop.Exposure<br>
	    7. Rechenzentrum: IBM<br>
	    8. Carter Tutti Void: f = (2.7)<br>
	    9. Function: Untitled<br>
	    10. Donnacha Costello: Cocoa A<br>
	    11. Farben: As Long As There’s Love Around<br>
	    12. SND: Circa 1509<br>
	    13. Gramm: Legends / Nugroove™ <br>
        14. Ursula Bogner: Begleitung für Tuba
    </p>
</div>

{% endblock %}