<head>
    <title>DOCUMNT MIXTAPE 11</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-11-lord-byron-styropor" target="_blank"><img class="mixtape-img" src="/static/mixtape11.jpg"></a>
	<p class="mixtape-title">MIXTAPE 11: LORD BYRON STYROPOR<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/314138273&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Shinobi inu: Clear<br>
        2. GAIKA: Security (feat. Fallacy and Gretz)<br>
        3. Yung Internet: Crimb<br>
        4. These Hidden Hands: These Moments Dismantled (feat. Lucrecia Dalt)<br>
        5. coucou chloé: Touched ft. lala<br>
        6. Isis Scott: AmenoHa x Work Bitch Edit<br>
        7. Sd Laika: Spaceman piff<br>
        8. clipping.: Dominoes<br>
        9. Isis Scott: Poppin Pills With Beyonce & Nicki<br>
        10. G_H: Earth<br>
        11. Magma Trakt: Među nama<br>
        12. G_H: Housebound_Demigod<br>
        13. Emptyset: Len<br>
        14. Mαḋεṃαṉ: Selfdefense<br>
        15. OG Maco: Want More<br>
        16. N8NOFACE: MISERY<br>
        17. Yoshitaka Hikawa: LTV<br>
        18. Silvana Imam: Imam Cobain<br>
        19. LSDXOXO: R e c h u r a_<br>
        20. MY DISCO: 1991 (Lustmord 20-20 Mix) (played extremly fast)
    </p>
</div>

{% endblock %}