<head>
    <title>DOCUMNT MIXTAPE 06</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-06-ben-ko" target="_blank"><img class="mixtape-img" src="/static/mixtape06.jpg"></a>
	<p class="mixtape-title">MIXTAPE 06: BEN K.O.<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/262273011&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Chevel: Comb<br>
        2. Lucy: Lav<br>
        3. Yan Cook: Shift<br>
        4. Darko Esser: Clean Slate (DVS1 Remix)<br>
        5. André Kronert: Into the Zone (Efdemin Rework)<br>
        6. Chevel: Detrimental<br>
        7. Machine Woman: 10.08.15<br>
        8. Privacy: Query C<br>
        9. Gestolen Cirkel: Zombie Machine (Acid)<br>
        10. Helena Hauff: Spur<br>
        11. Matrixxman: Augmented<br>
        12. Blawan: Diatonic Values<br>
        13. Objekt: Agnes Demise<br>
        14. Dynarec: First Machines<br>
        15. Front 242: Least Inkling
    </p>
</div>

{% endblock %}