<head>
    <title>DOCUMNT MIXTAPE 03</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="single-mixtape-img">
	<a href="https://soundcloud.com/documnt/mixtape-03-health" target="_blank"><img class="mixtape-img" src="/static/mixtape03.jpg"></a>
	<p class="mixtape-title">MIXTAPE 03: HEALTH<br><br><a href="/mixtapes">< back to mixtapes</a></p>
</div>


<div class="single-mixtape">
	<iframe width="100%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/253776416&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe>
</div>

<div class="tracklist">
	<p>Tracklist:</p>
	<p>1. Éliane Radigue: Stress-Osaka<br>
        2. Peter Gordon & Lawrence Weiner: Deutsche Angst<br>
        3. Senking: Serpent<br>
        4. Heroin in Tahiti: Spinalonga<br>
        5. Z'ev: Wipe Out<br>
        6. Asmus Tietchens: Ritual der kranken Freude<br>
        7. HysM?Duo: Small Universes<br>
        8. Nicola Tirabasso: Landscape Suicide<br>
        9. Sunn O))): BP//Simple<br>
        10. Factory Floor ft. Peter Gordon: Beach combing<br>
        11. Terry Riley: A Rainbow in Curved Air<br>
        12. The Rah Band: Messages From the Stars
    </p>
</div>

{% endblock %}