<head>
    <title>DOCUMNT MIXTAPE 14</title>
    <style>
        .index-wrapper { 
            display: none;
        }
        .index-text-left {
            display: none;
        }
    </style>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">14</div> -->

<div class="mixtape-index-wrapper">
    <div class="mixtape-index-text-left" style="font-size: 12px; padding-top: 10px">
        <br><br><br>
        <p>MIXTAPE 17: <a href="/mixtape17">GHOST SHRINE</a></p>
        <p>MIXTAPE 16: <a href="/mixtape16">レイン</a></p>
        <p>MIXTAPE 15: <a href="/mixtape15">KL.NE</a></p>
        <p>MIXTAPE 14: <a href="/mixtape14">WUNDERWAFFEL</a></p>
        <p>MIXTAPE 13: <a href="/mixtape13">ZOND</a></p>
        <p>MIXTAPE 12: <a href="/mixtape12">MXG</a></p>
        <p>MIXTAPE 11: <a href="/mixtape11">LORD BYRON STYROPOR</a></p>
        <p>MIXTAPE 10: <a href="/mixtape10">ANNA ADAMS</a></p>
        <p>MIXTAPE 09: <a href="/mixtape09">ARTETETRA RECORDS</a></p>
        <p>MIXTAPE 08: <a href="/mixtape08">TRAGEDIJA U STEGLITZU</a></p>
        <p>MIXTAPE 07: <a href="/mixtape07">PAUL SEIDLER</a></p>
        <p>MIXTAPE 06: <a href="/mixtape06">BEN K.O.</a></p>
        <p>MIXTAPE 05: <a href="/mixtape05">KURORT SPANDAU</a></p>
        <p>MIXTAPE 04: <a href="/mixtape04">SHŌ</a></p>
        <p>MIXTAPE 03: <a href="/mixtape03">HEALTH</a></p>
        <p>MIXTAPE 02: <a href="/mixtape02">CLAIRE D.</a></p>
        <p>MIXTAPE 01: <a href="/mixtape01">SINOSC</a></p>
    </div>
</div>

<div class="content-wrapper">
    <div class="art-content">
            <a href="https://soundcloud.com/documnt/mixtape-14-wunderwaffel" target="_blank"><img class="mixtape-img" src="/static/mixtape14.jpg"></a>
            <div class="tracklist">
                <p>1. Egisto Macchi: L'Eco Delle Gole<br>
					2. Mechthild Von Leusch: Rungholter Totentanz<br>
					3. Andres Lewin-Richter: Study No. 1<br>
					4. Lesiman: Obsession<br>
					5. Louise Huebner: The Coleopterous Charm For Romantic Adventure<br>
					6. Nurse With Wound: Untitled 1 (from Images/Zero Mix)<br>
					7. Nino Nardini: Storm Clouds<br>
					8. John Barry: Oktober - Walk From The River<br>
					9. Andrés Lewin-Richter: Pulsar<br>
					10. Chene Noir: Les Oiseaux<br>
					11. Piero Umiliani: Pulzationit<br>
					12. Ennio Morricone: Un Tranquillo Posto Di Campagna (#8)<br>
					13. Woody Leafer: Drums In My Typewriter<br>
					14. Mechthild Von Leusch: Rungholter Tanz 10<br>
					15. Phillip Werren: Whale Piece<br>
					16. The Creed Taylor Orchestra: Gloomy Sunday<br>
					17. Roger Roger: Bolero Chinois<br>
					18. Tom Recchion: Flying Weather<br>
					19. Otto Luening: Fantasy In Space<br>
					20. Peppino De Luca & I Marc 4: Metronomo Della Morte<br>
					21. Werkbund: Allseele<br>
					22. The Creed Taylor Orchestra: The Cranc<br>
					23. Otto Luening And Vladimir Ussachevsky: Incantation<br>
					24. Vladimir Ussachevsky: Piece For Tape Recorder<br>
					25. Psychophysicist: PSR .833-45 16.65 Mg Htz<br>
					26. Mort Garson: Music To Soothe The Savage Snake Plant<br>
					27. Louise Huebner: The Earthquake Spell For Unwanted<br>
					28. Asmus Tietchens: Wind ohne Wetter<br>
					29. Raskovich: Alpha Gamma<br>
					30. Steve Maxwell Von Braund - Shadowfax<br>
					31. P16.D4: Hammer/Zange/Hebel<br>
					32. Hirsche Nicht Aufs Sofa: Ganz unverbindlich<br>
					33. Asmus Tietchens: Litia<br>
					34. Colin Potter: Knit Where?<br>
					35. Roger Roger: Sound Industrial 12<br>
					36. Egisto Macchi: La Memoire<br>
					37. Egisto Macchi: Chanson De Matin<br>
					38. Louise Huebner: Witches And Wizards<br>
					39. John Barry: Wednesday's Child - Main Theme
				</p>
        </div>
    </div>
</div>

<div class="single-mixtape">
	<iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/325031229&amp;color=%23262626&amp;inverse=false&amp;auto_play=false&amp;show_user=true"></iframe>
	<!-- <iframe width="66%" height="20" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/325031229&amp;color=%23ff5500&amp;inverse=true&amp;auto_play=false&amp;show_user=true"></iframe> -->
</div>

{% endblock %}