<head>
    <title>BERLIN BOY</title>
</head>

{% extends "base.html" %}
{% block content %}

<div class="index-number">1.12</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/rosenthal-Berlinboy.jpg" target="_blank"><img src="/static/rosenthal-Berlinboy.jpg"></a>
		<p>Steve Rosenthal<br>BERLIN BOY</p>
		<br>
<!-- 		<p>"Realizing what Derrida would call hauntology, a way of hearing ghosts from the past, that implies of course that all these voices and all the writings were never there to meet each other in the first place: the mere reason of their existence is to have haunted the net – and to have been caught by an attentive hunter, for us to read and hear – and to feel the aloneniness."<br>
		— Dr Gesa Schneider
		</p> -->
	</div>
</div>

{% endblock %}

