<head>
    <title>HELLO WORLD / DINOSAURS AFTER APOCALYPSE</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.14<br>Tinna Siradze<br>Hello World<br>Dinosaurs After<br>Apocalypse</div> -->
<div class="index-number">1.14</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/siradze_brainfuck.jpg"><img src="/static/siradze_brainfuck.jpg" style="max-width: 600px; height: auto; margin-bottom: 20px;"></a><br>
		<a href="/static/siradze_dinosaurs.png"><img src="/static/siradze_dinosaurs.png" style="margin-bottom: 20px;"></a>
		<p>Tinna Siradze<br>Hello World<br>Dinosaurs After Apocalypse</p>
		<!-- <p>“Hello world” is an installation which is now exhibited in a concept store. It is my and ZOMBIE's collaboration, it was made by wooden pieces which were colored black. firstly it was exhibited in museum of literature at the exhibition of "word museum" , conception is that we wanted to show code in museum as a word and we chose brainfuck because it is an exoteric language and also the visual side is very interesting for us. we think that programming will be part of art soon and it is interesting to make something tangible.<br>
		“Dinosaurs after apocalypse" is an object which I did with the motherboard piece of my childhood computer and with dinosaur toys from the 90's.	  the conception is how we can connect two things, on the one hand we have dinosaurs, really old species, and computer pieces — new technology. for me the mix is really interesting and the visual also gives me a sense of time travel and it’s like a mini town.</p> -->
	</div>
</div>

{% endblock %}

