<head>
    <title>TOWER OF BABEL</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.17<br>Wisława<br>Szymborska<br>Tower of<br>Babel</div> -->
<div class="index-number">1.17</div>

<div class="content-wrapper">
	<div class="poem-text">
		<h1><b>Wisława Szymborska<br>Tower of Babel</b></h1>
		<br>
		<p style="line-height: 18px"><em>"What time is it?"</em> "Oh yes, I'm so happy; <br>
			all  I need is a little bell round my neck <br>
			to jingle over you while you're asleep." <br>
			<em>"Didn't you hear the storm? The north wind shook<br>
			the walls; the tower gate, like a lion's maw, <br>
			yawned on its creaking hinges."</em> "How could you <br>
			forget? I had on that plain gray dress <br>
			that fastens on the shoulder." <em>"At that moment <br>
			myriad explosions shook the sky."</em> "How could I <br>
			come in? You weren't alone, after all." <em>"I glimpsed <br>
			colors older than sight itself."</em> "Too bad <br>
			you can't promise me." <em>"You're right, it must have been <br>
			a dream."</em> "Why all these lies, why do you call me <br>
			by her name; do you still love her?" <em>"Of course, <br>
			I want you to stay with me."</em> "I can't <br>
			complain; I should have guessed myself." <br>
			<em>"Do you still think about him?"</em> "But I'm not crying." <br>
			<em>"That's all there is?"</em> "No one but you." <br>
			<em>"At least you're honest."</em> "Don't worry, <br>
			I'm leaving town." <em>"Don't worry, <br>
			I'm going."</em> "You have such beautiful hands." <br>
			<em>"That's ancient history; the blade went through <br>
			but missed the bone."</em> "Never mind, darling, <br>
			never mind." <em>"I don't know <br>
			what time it is, and I don't care."</em></p>
	</div>
</div>
{% endblock %}

