<head>
    <title>UNTITLED (HALF MAN HALF BEAST)</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.6<br>Karl Holmqvist<br>UNTITLED<br>(Half Man<br>Half Beast)</div> -->
<div class="index-number">1.6</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/holmqvist_untitled.tif"><img src="/static/holmqvist_untitled.jpg"></a>
		<h1>Karl Holmqvist<br>UNTITLED (HALF MAN HALF BEAST), 2009<br>Framed collage<br>72.5 x 52.5 x 4 cm <br><br>Courtesy the artist and Galerie Neu, Berlin</h1>
	</div>
</div>

{% endblock %}
