{% extends "base.html" %}
{% block content %}



    <div class="text_content">
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- Body, Being and Becoming (2016) (poem nr.1) -->
        <iframe width="420" height="315" src="https://www.youtube.com/embed/f4YE9W6KJxM" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- FLR - Conscious Woman -->
        <iframe width="420" height="315" src="https://www.youtube.com/embed/y4w3KPfb3LY" frameborder="0" allowfullscreen></iframe>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>


{% endblock %}