<head>
    <title>WITH THE BOOK / MY BODY</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.13<br>Adrian Da<br>Silva<br>With the <br>Book<br>My Body</div> -->
<div class="index-number">1.13</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/da-silva-in-the-book.png"><img src="/static/da-silva-in-the-book.png"></a><br>
		<a href="/static/da-silva-my-body-1.png"><img src="/static/da-silva-my-body-1.png"></a><br>
		<a href="/static/da-silva-my-body-2.JPG"><img src="/static/da-silva-my-body-2.JPG"></a><br>
		<a href="/static/da-silva-with-the-book.JPG"><img src="/static/da-silva-with-the-book.JPG"></a><br>
		<h1>Adrien Da Silva<br>WITH THE BOOK .JPG<br>MY BODY</h1>
		<br>
		<p>For "With the book .JPG" I wanted to create an abstract composition using the book without it being visible.		At the time I was a student of art history and I had this portable scanner regularly on me. I finally used it more in my artistic practice than in the context of these studies …	It creates a file that resembles the A4 in which it automatically inserts the scanned image.
		This will create ... an interesting enhancement of the scanned object. And this process of automation of creation seduced me.	 <!-- I proceed in the same way in my photography work: the argentic photography that I scan always exists in this white void and almost always in the same format. --> …	 I like to use this scanner because it allows me a certain freedom in what I scan. …	Here a book and my body for example. I have often used this process...	<!-- 	My practice is mainly articulated around this mechanism which could be schematized in this way:	    Real - Mental image - Realization of this mental image	      It is a more or less conscious causal relationship.	  I realize the one I can do quickly -->
		</p>
		<br>
		<br>
	</div>
</div>

{% endblock %}

