<head>
    <title>YOUR POETRY READER</title>
</head>

{% extends "base.html" %}
{% block content %}

<!-- <div class="index-number">1.5<br>Joeun Aatchim<br>Your Poetry<br>Reader</div> -->
<div class="index-number">1.5</div>

<div class="content-wrapper">
	<div class="art-content">
		<a href="/static/aatchim_FreedomofHousePlants.jpg"><img src="/static/aatchim_FreedomofHousePlants.jpg"></a><br>
		<a href="/static/aatchim_because.jpg"><img src="/static/aatchim_because.jpg"></a>
		<h1>Joeun Aatchim<br>Your Poetry Reader</h1>
		<!-- <p style="width:390px;">“Your Poetry Reader” bridges foreigners' voice and post-digital persona in an unstable language construction; foreigners’ misspelled English and computer-voice's robotic pronunciation and rhythm are similar in their straightforwardness and awkwardness, no matter how much they try to appeal as ‘the natives’. Automatism of improvised allegories/poems and digital personae are also alike in their manifest content. When erasing ‘typos’ or ‘unwanted’ sentences is not an option — such is writing with a typewriter — the one-sitting-writer finds a perfect excuse for an ultimate freedom to write stories with one’s candid thought-flow without filtering; when have we had these ‘types’ of thrills, since we’ve reached the era of ‘tweet’ and ‘timeline statues’, with fears of instant public judgement or censorship?</p> -->
	</div>
</div>

{% endblock %}


